
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label class="control-label">*{{pawn.pawnType.text}}</label>
			<ul class="list-inline">
				 <li>
					<label class="checkbox-inline" ng-repeat="i in pawn.pawnType.items">
		                 <input type="checkbox" ng-model="pawn.pawnType.value[$index]" >{{i}}
		             </label>
				</li>
				<li>
					<input type="text" class="form-control input-sm" placeholder="自定义" ng-model="pawn.pawnType.value[pawn.pawnType.items.length]" style="height:28px;">
				</li>
			</div>
			<intput type="hidden" name="typeRquired" ng-model="pawnTypeRequired" ui-validate="'$value === false'">
			<div ng-show="moreInfoForm.$submitted">
				<div class="text-danger" ng-show="moreInfoForm.typeRquired.$error.validator">请填{{pawn.pawnType.text}}</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label">*{{pawn.carNum.text}}</label>
			<input type="text" class="form-control" placeholder="{{pawn.carNum.text}}" ng-model="pawn.carNum.value" name="carNum" required>
			<div ng-show="moreInfoForm.$submitted || moreInfoForm.carNum.$touched">
				<div class="text-danger" ng-show="moreInfoForm.carNum.$error.required">请填{{pawn.carNum.text}}</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label">*{{pawn.engineNum.text}}</label>
			<input type="text" class="form-control" placeholder="{{pawn.engineNum.text}}" ng-model="pawn.engineNum.value" name="engineNum" required>
			<div ng-show="moreInfoForm.$submitted || moreInfoForm.engineNum.$touched">
				<div class="text-danger" ng-show="moreInfoForm.engineNum.$error.required">{{pawn.engineNum.text}}</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label">*{{pawn.frameNum.text}}</label>
			<input type="text" class="form-control" placeholder="{{pawn.frameNum.text}}" ng-model="pawn.frameNum.value" name="frameNum" required>
			<div ng-show="moreInfoForm.$submitted || moreInfoForm.frameNum.$touched">
				<div class="text-danger" ng-show="moreInfoForm.frameNum.$error.required">请填{{pawn.frameNum.text}}</div>
			</div>
		</div>
	</div>
</div>

<div style="text-align:right">
	<a ng-init="pawnMore=false" ng-click="pawnMore=!pawnMore" class=" text-info">{{pawnMore?'收起更多抵押物信息':'填写更多抵押物信息'}}</a>
</div>
<div ui-toggle="pawnMore">
	<div class="ks-divider"></div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.owner.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.owner.text}}" ng-model="pawn.owner.value" name="owner">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.color.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.color.text}}" ng-model="pawn.color.value" name="color">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.brand.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.brand.text}}" ng-model="pawn.brand.value" name="brand" >
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.drivingLicense.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.drivingLicense.text}}" ng-model="pawn.drivingLicense.value" name="drivingLicense">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.price.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.price.text}}" ng-model="pawn.price.value" name="price" >
			</div>
		</div>
	</div>
</div>