<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label class="control-label">*{{pawn.pawnType.text}}</label>
			<ul class="list-inline">
				 <li>
					<!-- <label class="btn btn-xs btn-default" ng-model="pawn.pawnType.value[$index]" btn-checkbox ng-repeat="i in pawn.pawnType.items"  >{{i}}</label> -->
					<label class="checkbox-inline" ng-repeat="i in pawn.pawnType.items">
		                 <input type="checkbox" ng-model="pawn.pawnType.value[$index]" >{{i}}
		             </label>
				</li>
				<li>
					<input type="text" class="form-control input-sm" placeholder="自定义" ng-model="pawn.pawnType.value[pawn.pawnType.items.length]" style="height:28px;" >
				</li>
			</ul>
			<intput type="hidden" name="typeRquired" ng-model="pawnTypeRequired" ui-validate="'$value === false'">
			<div ng-show="moreInfoForm.$submitted">
				<div class="text-danger" ng-show="moreInfoForm.typeRquired.$error.validator">请填{{pawn.pawnType.text}}</div>
			</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label">*{{pawn.houseCertificate.text}}</label>
			<!-- <input type="text" class="form-control" placeholder="{{pawn.houseCertificate.text}}" ng-model="pawn.houseCertificate.value" name="houseCertificate" required> -->
			<div class="input-group">
				  <input type="text" class="form-control" name="houseCertificate1" ng-model="pawn.houseCertificate.value[0]" required>
				  <span class="input-group-addon">{{pawn.houseCertificate.characters[0]}}</span>
				  <input type="text" class="form-control" name="houseCertificate1" ng-model="pawn.houseCertificate.value[1]" required>
				  <span class="input-group-addon">{{pawn.houseCertificate.characters[1]}}</span>
				  <input type="text" class="form-control" name="houseCertificate2" ng-model="pawn.houseCertificate.value[2]" required>
				  <span class="input-group-addon">{{pawn.houseCertificate.characters[2]}}</span>
			</div>
			<div ng-show="moreInfoForm.$submitted || moreInfoForm.houseCertificate.$touched">
				<div class="text-danger" ng-show="moreInfoForm.houseCertificate1.$error.required || moreInfoForm.houseCertificate2.$error.required">请填{{pawn.houseCertificate.text}}</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label">*{{pawn.landCertificate.text}}</label>
			<!-- <input type="text" class="form-control" placeholder="{{pawn.landCertificate.text}}" ng-model="pawn.landCertificate.value" name="landCertificate" required> -->
			<div class="input-group">
				  <span class="input-group-addon">{{pawn.landCertificate.characters[0]}}</span>
				  <input type="text" class="form-control" name="landCertificate1" ng-model="pawn.landCertificate.value[0]" required>
				  <span class="input-group-addon">{{pawn.landCertificate.characters[1]}}</span>
				  <input type="text" class="form-control" name="landCertificate2" ng-model="pawn.landCertificate.value[1]" required>
				  <span class="input-group-addon">{{pawn.landCertificate.characters[2]}}</span>
			</div>
			<div ng-show="moreInfoForm.$submitted || moreInfoForm.landCertificate.$touched">
				<div class="text-danger" ng-show="moreInfoForm.landCertificate1.$error.required || moreInfoForm.landCertificate2.$error.required">请填{{pawn.landCertificate.text}}</div>
			</div>
		</div>
	</div>

</div>

<div style="text-align:right">
	<a ng-init="pawnMore=false" ng-click="pawnMore=!pawnMore" class=" text-info">{{pawnMore?'收起更多抵押物信息':'填写更多抵押物信息'}}</a>
</div>
<div ui-toggle="pawnMore">
<div class="ks-divider"></div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.owner.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.owner.text}}" ng-model="pawn.owner.value" name="owner">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.area.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.area.text}}" ng-model="pawn.area.value" name="color">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.city.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.city.text}}" ng-model="pawn.city.value" name="brand" >
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.zone.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.zone.text}}" ng-model="pawn.zone.value" name="zone" >
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.buildingNum.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.buildingNum.text}}" ng-model="pawn.buildingNum.value" name="buildingNum" >
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.roomNum.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.roomNum.text}}" ng-model="pawn.roomNum.value" name="roomNum" >
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">{{pawn.price.text}}</label>
				<input type="text" class="form-control" placeholder="{{pawn.price.text}}" float-number-input ng-model="pawn.price.value" name="price">
			</div>
		</div>
	</div>
</div>