<div class="col-md-3">
	<ul class="nav nav-stacked ks-manage-nav">
		<li ui-sref="borrow.index" ui-sref-active="active"><a>融资总览</a></li>
		<li  class="dropdown" dropdown  ng-class="{active:('borrow.draft' | isState)}">
			<a ui-sref="loan" dropdown-toggle> 融资管理<span class="glyphicon glyphicon-menu-right"></span></a>
			  <ul class="dropdown-menu dropdown-menu-right">
		        <li>
		          <a href="/bproject/create" target="_blank">新增融资</a>
							<a ui-sref="borrow.draft">待入账项目</a>
		        </li>
		      </ul>
		</li>
		<li class="dropdown" dropdown ng-class="{active:('borrow.repayPending' | isState) || ('borrow.repayDone' | isState)}">
			<a ui-sref="collect" dropdown-toggle>还款管理<span class="glyphicon glyphicon-menu-right"></span></a>
			 <ul class="dropdown-menu dropdown-menu-right">
		        <li>
		          <a ui-sref="borrow.repayPending">待还款项目</a>
		          <a ui-sref="borrow.repayDone">已还款项目</a>
		        </li>
		      </ul>
		</li>
		<li class="dropdown" dropdown ng-class="{active:('borrow.normalProjects' | isState) || ('borrow.overdueProjects' | isState) || ('borrow.completedProjects' | isState) || ('borrow.allProjects' | isState)}" >
			<a dropdown-toggle>融资检视<span class="glyphicon glyphicon-menu-right"></span></a>
			<ul class="dropdown-menu dropdown-menu-right">
		        <li>
		          <a ui-sref="borrow.normalProjects">正常融资</a>
		          <a ui-sref="borrow.overdueProjects">逾期融资</a>
		          <!-- <a ui-sref="borrow.badbillProjects">坏账项目</a> -->
		          <a ui-sref="borrow.completedProjects">结清融资</a>
		          <a ui-sref="borrow.allProjects">所有融资</a>
		        </li>
		      </ul>
		</li>
		<li ui-sref="borrow.finance" ui-sref-active="active"><a >融资财务</a></li>
		<!-- <li ui-sref="borrow.contact" ui-sref-active="active"><a >客户管理</a></li> -->
	</ul>
</div>
