<span ng-show="loan.loanType.value === 'fcdy' || loan.loanType.value === 'mfdy'">
	<i class="fa fa-home fa-2x"></i>
</span>
<span ng-show="loan.loanType.value === 'qcdy' || loan.loanType.value === 'mcdy'">
	<i class="fa fa-car fa-2x"></i>
</span>
<span ng-show="loan.loanType.value === 'wdy'">
	<i class="fa fa-sticky-note-o fa-2x"></i>
</span>
<span ng-show="loan.loanType.value === 'qtdy'">
	<i class="fa fa-cubes fa-2x"></i>
</span>
<span ng-show="!loan.loanType">
	<i class="fa fa-question-circle fa-2x"></i>
</span>
