/*******************************
         Site Settings
*******************************/
body{
	background:#ffffff !important;
}
.container {
  	width: 75rem;
  	margin: 0 auto;
}
.mcolor{
	color:#6b2347 !important;
}
.mcolor.button{
	color: #ffffff !important;
	background-color: #6b2347 !important;
}
.step{
	border-radius: 0px !important;
}
.table{
	border-radius: 0px !important;
}
.table thead th{
	border-radius: 0px !important;
	/*background-color: #fafafa !important;*/
}
.footer{
	padding:30px 0px 40px 0px !important;
}

.label,.header,input,.button,.menu,.segment,.ui.modal .actions{
	border-radius: 0px !important;
}
/*-----------------------------------
       Modal
-------------------------------------*/
.ui.modal>.header{
	font-size: 1.3em;
	padding: 0.7rem 2rem;
	color: #ffffff !important;
	background-color: #6b2347 !important;
}
.ui.modal>.content{
	padding: 0px;
}
.ui.modal .content .segment{
	padding: 1.5rem 2rem 1.5rem 2rem;
}
.ui.modal .ui.segment{
	margin:0px !important;
}
.ui.modal table{
	margin:0px;
	border-left-style: none;
	border-right-style: none;
}
.ui.modal table th:first-child,.ui.modal table td:first-child{
	padding-left: 2rem;

}
.ui.modal>.close{
	top: 0.5rem;
	right: 0.5rem;
}
/*input,.ui.selection{
	border-radius: 0px !important;
}*/
/*-----------------------------------
       Account Page(Login  Register)
-------------------------------------*/
#account .navlist{
	padding-top: 30px;
	float:right;
}
#account .navlist .item{
	padding:0px 10px 0px 10px;
}
#account .header.segment{
	padding: 5px 0px 5px 0px;
	min-height: 60px;
}
#account .main{
	background: url("../images/a_bg.png") repeat-x;
	min-height: 550px;
}
#account .segment{
	margin: 0px;
	border-radius: 0px;
}
#account .middlebox{
	margin: 60px 0px;
	min-height: 380px;
	background: rgba(0,0,0,0.3);
}
#account .maininput{
	padding: 30px 35px 30px 10px;
}

#account .form{
	padding:20px 0px 0px 20px;
}

/*-----------------------------------
           Manangement Page
-------------------------------------*/
#management .segment{
	margin: 0;
	border-radius: 0px;
}
#management .top.segment{
	height: 40px;
	padding: 0.8em;
}
#management .top .column{
	padding: 0 0 0 1.2em;
}
#management .main{
	padding-top: 1em;
	padding-bottom: 5em;
}
#management .main.segment{
	box-shadow: 0 0 0 0px !important;
}
#management .main .mcolor.header{
	padding-bottom: 0.6em;
}

#m
#management .form{
	margin-top: 1.5em;
}
#management .header.segment{
	margin-left: 0px;
}
#management .attached.header{
	background-color: #f0f0f0;
}
#management .segment.table{
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}
#management .navbuttons{
	margin-top: 2em;
}
#management .content{
	width: 75em;
	min-height: 60em;
	/*left: 20em;*/
	padding: 5 0 10 0em;
	position: relative;
}
#management .container{
	/*background-color: white;*/
}
#management .mnav.menu{
	border-radius: 0px;
	background-color: #fafafa;
}
#management .mnav.menu .item{
	height: 3em !important;
	line-height: 1.5;
	
}

#management .project.view{
	margin-top: 2em;

}
#management .project .condition .menu{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}