<form name="loanForm" ng-submit="loanForm.$valid && activeModalFinish(loan.id)">
<div class="modal-header">
  <h4 class="modal-title">放款详情</h4>
</div>
<div class="modal-body">
<div class="ks-panel">
  <h4><a class="text-info" href="/loan?id={{loan.id}}" target="_blank">项目编号: {{loan.numberWithName}}</a></h4>
  <div class="ks-divider"></div>
  
  <div ng-repeat="payment in payments" ng-init="loan.preLoanData.finishPayedMoney = loan.preLoanData.finishPayedMoney || 0">
   <ui-include src="'/angular/manage/common/partial/payment.html'"></ui-include>
  <div class="row">
     <div class="col-md-offset-8 col-md-4">
      <div class="form-group has-success">
        <label class="control-label">本次放款（元）</label>
        <div class="input-group has-danger">
          <!-- <number-input input-value="loanInfo.amount" input-name="amout"  placeholder="贷款金额" name="amout" numberInput ng-model="loanInfo.amount" ng-pattern="/\d+/" required/> -->
          <input type="text" class="form-control" placeholder="放款金额" name="amount" float-number-input ng-model="loanData.amount"
          ng-init="loanData.amount = (payment.outMoney + payment.keepCost + payment.otherCost + payment.serviceCost + payment.assureCost+payment.interestsMoney - loan.preLoanData.finishPayedMoney)" required>
          <span class="input-group-addon">元</span>
        </div>
        <div ng-show="loanForm.$submitted || loanForm.amount.$touched">
          <div class="text-danger" ng-show="loanForm.amount.$error.required">请填写放款金额</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" ng-click="activeModalCancel()">取消放款</button>
  <button type="submit" class="btn btn-success" ng-disabled="status.loaning">放款完成</button>
</div>
</form>
