
<% include header/guest_header %>
<div class="container-fluid ks-account" >
		<div class="container ks-main" ui-view>

		</div>
</div>
<ui-include src="'/angular/manage/common/partial/footer.html'"></ui-include>
