<div class="ui header segment">
		<div class="container">
			<div class="ui grid">
				<div class="left floated eight wide column">
					<div class="ui divided horizontal  list">
						<a class="item">
							<img class="ui  image" src="../images/logo.png">
						</a>
						<div class="item">
							<img class="ui  image" src="../images/logo_info.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>