<% include header/guest_header %>
<div class="container ks-main" >
	<h3 class="ks-dividing">
		帮助中心
	</h3>
	<div ui-view></div>
</div>
<ui-include src="'/angular/manage/common/partial/footer.html'"></ui-include>
