<div class="four wide column">
	<div class="ui vertical  mnav menu">

		<div class="active mcolor item">账户总览</div>

		<div class="ui dropdown item">
			放款管理 <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" href="/loan/create_contract">新增放款</a>
				<a class="item">未放款项目</a>
			</div>
		</div>

		<div class="ui dropdown item">
			收款管理 <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item">待收款项目</a>
				<a class="item">已收款项目</a>
			</div>
		</div>
		<div class="ui dropdown item">
			项目检视
			<i class="dropdown icon"></i>
			<div class="menu">
				<a class="item">正常项目</a>
				<a class="item">逾期项目</a>
				<a class="item">坏账项目</a>
				<a class="item">已结清项目</a>
				<a class="item">所有项目</a>
			</div>
		</div>
		<div class="item">客户管理</div>
		<div class="item">账户安全</div>
		<div class="item">详细提醒</div>
	</div>
</div>