<!-- <div class="container  text-center ">

<form id="loginForm" class="search-form-middle" action="/login" method="POST">
	<p>
		用户名：
		<input id="usernameInput" name="username" type="text"/>
	</p>

	<p>
		密码&nbsp;&nbsp;&nbsp;&nbsp;：
		<input id="passwordInput" name="password" type="password"/>
	</p>

	<div >
		<input class="btn btn-default login-btn-width" name="go" type="submit" value="登录">
		<a class="btn btn-default login-btn-width" href="/register">注册</a>
	</div>
</form>
</div>
-->

<% include login_header%>

<div class="container">
<div class="ui vertical middlebox segment">
	<div class="ui grid">
		<div class="ui eleven wide column">这里放图</div>
		<div class="ui five wide maininput column">
			<div class="ui inverted  form">
				<h2 class="ui inverted header ">登录您的昆山贷款</h2>
				<div class="ui left icon input field">
					<input placeholder="用户名" type="text"> <i class="user icon"></i>
				</div>
				<div class="ui left icon input field">
					<input type="password" placeholder="密码"> <i class="lock icon"></i>
				</div>
				<div class="fields">
					<div class="eleven wide field">
						<div class="ui checkbox">
							<input type="checkbox">
							<label>七天内免登陆</label>
						</div>
					</div>
					<div class="field">
						<div class="ui submit blue button">登录</div>
					</div>
				</div>
				<div class="ui horizontal divider">或</div>
				<a href="/register"><div class="fluid ui  green labeled icon button ">
					注册账号
					<i class="add icon"></i>
				</div></a>
			</div>

		</div>
	</div>
</div>
</div>
