<!-- <div class="four wide column">
	<div class="ui vertical  mnav menu">

		<a ui-sref-active-eq="active" class="mcolor item" ui-sref="index" >账户总览</a>

		<div ui-sref-active="selected"  class="ui dropdown mcolor item">
			放款管理
			<i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" href="/createLoan" target="_blank">新增放款</a>
				<a class="item" ui-sref="loanPedding"> 未放款项目</a>
			</div>
		</div>

		<div class="ui dropdown mcolor item">
			收款管理
			<i class="dropdown icon"></i>
			<div class="menu">
				<a  class="item" ui-sref="collectPendding">待收款项目</a>
				<a  class="item" ui-sref="collectDone">已收款项目</a>
			</div>
		</div>
		<div ui-sref-active="selected"  class="ui dropdown mcolor item" ui-sref="project">
			项目检视
			<i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" >正常项目</a>
				<a class="item">逾期项目</a>
				<a class="item">坏账项目</a>
				<a class="item">已结清项目</a>
				<a class="item">所有项目</a>
			</div>
		</div>
		<a  ui-sref-active-eq="active" class="mcolor item" ui-sref="client">客户管理</a>
		<div class="mcolor item">账户安全</div>
		<div class="mcolor item">详细提醒</div>
	</div>
</div>
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/semantic-ui/dist/semantic.min.js"></script>

<script>
	$('.dropdown').dropdown({
		on:'hover'
	});
</script> -->

<div class="col-md-2">
					<ul class="nav nav-stacked ks-manage-nav">
					  	<li class="active"><a  ui-sref="index">账户总览</a></li>
					  	<li ><a ui-sref="index">放款管理<span class="glyphicon glyphicon-menu-right"></span></a></li>
					  	<li ><a >收款管理<span class="glyphicon glyphicon-menu-right"></span></a></li>
					   	<li ><a >项目检视<span class="glyphicon glyphicon-menu-right"></span></a></li>
					    <li ><a >客户管理</a></li>
					    <li ><a >账户安全</a></li>
					    <li ><a >消息提醒</a></li>
					</ul>
			</div>