
<div class="col-md-2">
	<ul class="nav nav-stacked ks-manage-nav" ui-sref-active="active">
		<li ui-sref="index"><a>账户总览</a></li>
		<li  class="dropdown" dropdown  >
			<a ui-sref="loan" dropdown-toggle> 放款管理<span class="glyphicon glyphicon-menu-right"></span></a>
			  <ul class="dropdown-menu dropdown-menu-right">
		        <li>
		          <a href="/createLoan" target="_blank">新增放款</a>
		          <a href="#"  ui-sref="trashLoans" >待放款项目</a>
		        </li>
		      </ul>
		</li>
		<li class="dropdown" dropdown>
			<a ui-sref="collect" dropdown-toggle>收款管理<span class="glyphicon glyphicon-menu-right"></span></a>
			 <ul class="dropdown-menu dropdown-menu-right">
		        <li>
		          <a href="#" ui-sref="collectPendding">待收款项目</a>
		          <a href="#" ui-sref="collectDone">已收款项目</a>
		        </li>
		      </ul>
		</li>
		<li class="dropdown" dropdown >
			<a dropdown-toggle>项目检视<span class="glyphicon glyphicon-menu-right"></span></a>
			<ul class="dropdown-menu dropdown-menu-right">
		        <li>
		          <a href="#" ui-sref="normalProjects">正常项目</a>
		          <a href="#" ui-sref="overdueProjects">逾期项目</a>
		          <a href="#" ui-sref="badDebtProjects">坏账项目</a>
		          <a href="#" ui-sref="settleProjects">结清项目</a>
		          <a href="#" ui-sref="allProjects">所有项目</a>
		        </li>
		      </ul>
		</li>
		<li ><a >客户管理</a></li>
		<li ><a >账户安全</a></li>
		<li ><a >消息提醒</a></li>
	</ul>
</div>