
<% include header/logined_header %>
	<div class="container ks-main">
		<div class="row">
			<% include m_menu %>
			<div class="col-md-offset-1 col-md-9 ks-manage-main" ui-view>
				
			</div>
				
		</div>
	</div>