
<% include header/logined_header %>
<div class="container ks-main" >
	<h3 class="ks-dividing">
		调整项目
	</h3>
	<div class="row" >
		 <div class="row bs-wizard" style="border-bottom:0;">
        	<div ui-sref="createLoan" class="col-xs-4 bs-wizard-step complete" >
              <div class="text-center bs-wizard-stepnum">步骤一</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <div  class="bs-wizard-dot" ></div>
              <div class="bs-wizard-info text-center">调整贷款信息</div>
            </div>

            <div class="col-xs-4 bs-wizard-step " ng-class="{'complete':(('modifyProjectMore' | isState)||('modifyProjectFinal' | isState))}">
              <div class="text-center bs-wizard-stepnum" >步骤二</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <div  class="bs-wizard-dot" ></div>
              <div class="bs-wizard-info text-center">调整借款人、担保人等信息</div>
            </div>
            
            <div class="col-xs-4 bs-wizard-step" ng-class="{active:('modifyProjectFinal' | isState) || ('contractCreated' | isState )}">
              <div class="text-center bs-wizard-stepnum">完成</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <div  class="bs-wizard-dot"></div>
              <div class="bs-wizard-info text-center">结清并生成新的贷款合同</div>
            </div>
        
    	</div>
	</div>
	
	<div ui-view></div>
	
		
	</div>
</div>