

<form id="loginForm" class="search-form-middle text-center" action="/mobilePhoneNumberVerify" method="GET">
	<p>
		手机验证码:&nbsp;&nbsp;&nbsp;&nbsp;：
		<input id="code" name="code" type="text"/>
	</p>
	<p>
		<input class="btn btn-default" name="go" type="submit" value="提交">
	</p>
</form>