<!--

<form id="loginForm" class="search-form-middle text-center" action="/register" method="POST">
<p>
	用户名：
	<input id="usernameInput" name="username" type="text"/>
</p>

<p>
	密码&nbsp;&nbsp;&nbsp;&nbsp;：
	<input id="passwordInput" name="password" type="password"/>
</p>

<p>
	手机&nbsp;&nbsp;&nbsp;&nbsp;：
	<input id="emailInput" name="mobilePhoneNumber" type="text"/>
</p>

<p>
	邮箱&nbsp;&nbsp;&nbsp;&nbsp;：
	<input id="passwordInput" name="email" type="email"/>
</p>

<p>
	<input class="btn btn-default" name="go" type="submit" value="注册">
	<a href="/login">登录</a>
</p>
</form>
-->

<script type="text/javascript">
function	pre_register(){
	var mobilePhoneNumber = $('#mobilePhoneNumber').val();
	var password = $('#password').val();
	if(password != $('#password_verify').val()){
		//error 
		console.log('密码不一致');
		return;
	}else if(mobilePhoneNumber=='' || password==''){
		console.log('有未填的选项');
		return;
	}

	$.post('/register',{
		mobilePhoneNumber : mobilePhoneNumber,
		password :password
	},
	function(data, status){
		console.log(data);
	});
};

function verify_mobile_phone_number(){
	alert('fadfa');
	$('#verify_form').submit();
};

</script>

