

<form id="loginForm" class="search-form-middle text-center" action="/register" method="POST">
	<p>
		用户名：
		<input id="usernameInput" name="username" type="text"/>
	</p>

	<p>
		密码&nbsp;&nbsp;&nbsp;&nbsp;：
		<input id="passwordInput" name="password" type="password"/>
	</p>

	<p>
		手机号&nbsp;&nbsp;&nbsp;&nbsp;：
		<input id="emailInput" name="mobilePhoneNumber" type="text"/>
	</p>

	<p>
			邮箱&nbsp;&nbsp;&nbsp;&nbsp;：
			<input id="passwordInput" name="email" type="email"/>
	</p>

	<p>
		<input class="btn btn-default" name="go" type="submit" value="注册">
		<a href="/login">登录</a>
	</p>
</form>