<!-- 

<form id="loginForm" class="search-form-middle text-center" action="/register" method="POST">
	<p>
		用户名：
		<input id="usernameInput" name="username" type="text"/>
	</p>

	<p>
		密码&nbsp;&nbsp;&nbsp;&nbsp;：
		<input id="passwordInput" name="password" type="password"/>
	</p>

	<p>
		手机&nbsp;&nbsp;&nbsp;&nbsp;：
		<input id="emailInput" name="mobilePhoneNumber" type="text"/>
	</p>

	<p>
			邮箱&nbsp;&nbsp;&nbsp;&nbsp;：
			<input id="passwordInput" name="email" type="email"/>
	</p>

	<p>
		<input class="btn btn-default" name="go" type="submit" value="注册">
		<a href="/login">登录</a>
	</p>
</form> -->

<div class="container">
			<div class="ui vertical middlebox segment">
				<div class="ui grid">
					<div class="ui six wide maininput column">
						<div class="ui inverted  form">
							  <h2 class="ui inverted header ">注册您的昆山贷款账号</h2>
							  <div class="field">
							 	<label>用户名</label>
							    <input placeholder="用户名" type="text">
							  </div>
							  <div class="field">
							  	<label>密码</label>
							    <input type="password" placeholder"密码">
							  </div>
							  <div class="field">
							  	<label>密码确认</label>
							    <input type="password" placeholder"密码">
							  </div>
							  <div class=" fields">
							  	<div class="ten wide field">
								  	<label>手机号</label>
								    <input type="password" placeholder"密码">
							    </div>
							     <div class="field">
							     	<label>&nbsp</label>
							    	<div class="fluid ui  button">发送验证码</div>
								</div>
							  </div>
							 
							  <div class=" field">
						  		<div class="ui checkbox">
						      		<input type="checkbox">
						      		<label>同意服务条款</label>
						   	 	</div>							    
							  </div>
							  <div class="fluid ui  green labeled icon button ">
							    注册账号
							    <i class="add icon"></i>
							  </div>
							 	<div class="ui horizontal divider">或</div>

							  <div class="field">
							    	<div class="fluid ui submit blue button">登录</div>
								</div>
						</div>

					</div>
											<div class="ui ten wide column">这里放图</div>

				</div>
			</div>
		</div>