	<div class="ui top segment">
		<div class="container">
			<div class="ui grid">
				<div class="left floated four wide column">
					<div class="ui horizontal small text menu">
						<a class="item">
							Ethansure
						</a>
						<a class="item">
							<i class="mail icon"></i> 消息
							<!-- <span class="ui red tiny label">10</span> -->
						</a>
					</div>
				</div>
				<div class="right floated three wide column">
					<div class="ui horizontal small text menu">
						<a class="item">
							我的账户
						</a>
						<a class="item">
							帮助中心
						</a>
						<a class="item">
							手机版
						</a>
					</div>
				</div>	
			</div>
		</div>
	</div>