/*******************************
         Site Settings
*******************************/
.container {
  	width: 75rem;
  	margin: 0 auto;
}
.mcolor{
	color:#6b2347 !important;
}
.step{
	border-radius: 0px !important;
}
/*input,.ui.selection{
	border-radius: 0px !important;
}*/
/*-----------------------------------
       Account Page(Login  Register)
-------------------------------------*/
#account .navlist{
	padding-top: 30px;
	float:right;
}
#account .navlist .item{
	padding:0px 10px 0px 10px;
}
#account .header{
	padding: 5px 0px 5px 0px;
	min-height: 60px;
}
#account .main{
	background: url("../../image/new/a_bg.png") repeat-x;
	min-height: 550px;
}
#account .segment{
	margin: 0px;
	border-radius: 0px;
}
#account .middlebox{
	margin: 60px 0px;
	min-height: 380px;
	background: rgba(0,0,0,0.3);
}
#account .maininput{
	padding: 30px 35px 30px 10px;
}
#account .footer{
	padding:30px 0px 40px 0px;
}

#account .form{
	padding:20px 0px 0px 20px;
}

/*-----------------------------------
           Manangement Page
-------------------------------------*/
#management .segment{
	margin: 0;
	border-radius: 0px;
}
#management .top.segment{
	height: 40px;
	padding: 0.8em;
}
#management .top .column{
	padding: 0 0 0 1.2em;
}
#management .main{
	padding-top: 1em;
	padding-bottom: 5em;
}
#management .main.segment{
	box-shadow: 0 0 0 0px !important;
}
#management .main .header{
	padding-bottom: 0.6em;
}
#management .form{
	margin-top: 1.5em;
}
#management .form .header{
	margin-left: 0px;
	border-radius: 0px;
}
#management  .attached.header{
	background-color: #fafafa;
}
#management .table{
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}
#management .navbuttons{
	margin-top: 2em;
}