<div class="row">
    <div class="col-md-2" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
      <ul class="nav bs-docs-sidenav">
        <li>
          <a href="#freeman">新手指南</a>
        </li>
       <!--  <accordion-group heading="放款部分" is-open="status[1]" ng-click="status[1] = !status[1]">
          <li><a href="#loan-create">新建放款</a></li>
          <li><a href="#loan-pending">待放款管理</a></li>
        </accordion-group> -->
        <li>
          <a href="#project">项目管理</a>
          <!-- <ul class="nav">
            <li><a href="#collect-pending">待收款管理</a></li>
            <li><a href="#collect-already">已收款管理</a></li>
          </ul> -->
        </li>
        <li>
          <a href="#contact">客户管理</a>
        </li>
      </ul>
    </nav>
    </div>
    <div class="col-md-10" font-size="16px;">

      <h4 id="freeman">一、新手指南</h4>

      <ol>
      <li><p><strong>成为注册用户：</strong>首先点击“注册”，跳转到注册新用户的页面，按照提示填写好资料，在注册资料填写正确的前提下，会提示您注册成功。您就成为昆山贷款网的用户了！</p></li>
      <div class="row">
        <div class="col-md-6">
          <a href="/images/help/1.png" class="thumbnail" target="_blank">
           <img src="images/help/1.png" alt="...">
         </a>
       </div>
       <div class="col-md-6">
         <a href="images/help/2.png" class="thumbnail" target="_blank">
          <img src="images/help/2.png" alt="...">
        </a>
        </div>
      </div>
      <br>

      <br>
      <li><p><strong>找回密码 ：</strong>忘了登录密码时，可通过手机验证重置密码找回密码。</p>
      <ul>
      <li>第一步：<br>

          <a href="images/help/3.png" class="thumbnail" target="_blank">
           <img src="images/help/3.png" alt="..." width="400">
         </a>

      </li>
      <br>
      <li>第二步：<br>
        <a href="images/help/4.png" class="thumbnail" target="_blank">
         <img src="images/help/4.png" alt="..." width="400">
       </a>
      </ul>
      </li>
      <br>
      <li><p><strong>收不到短信验证码：</strong></p>

      <ul>
      <li>建议您不要重复点击发送验证码，您可以等待一会儿，看是否有验证码短信延迟发送到您的手机上。 因为当申请验证的用户较多时，可能导致系统发送验证码时间延迟，重复点击发送验证码可能会导致之后接到多个验证码， 输入时而因与提交的时间不匹配导致提示验证码错误。</li>
      <li>经上述操作后您仍然无法获取验证码，建议您拨打客服电话xxxxxx进行相关查询。或者将您的需要验证的信息 账号的用户名和密码提供给我们昆山贷款网客服xxxxx，以便于我们帮您测试、验证。</li>
      </ul>
      </li>
      <li><p><strong>无法登录：</strong></p>

      <ul>
      <li>登录用户名或者密码有错误，这种情况应检查用户名或密码，也可以找回密码，重新登录。</li>
      <li>请检查您的浏览器以及网速！</li>
      </ul>
      </li>
      </ol>


      <h4 id="project">二、项目管理</h4>

      <ol>
      <li><p><strong>建立项目：</strong>
      点击 放款管理进入新增借款页面，完成资料填写生成新项目，新建项目时，资料填写与后续项目管理有关，请认真核实填写。</p></li>
      <a href="images/help/5.png" class="thumbnail" target="_blank">
       <img src="images/help/5.png">
      </a>
      <br>
      <li><p><strong>为什么在新建项目时无法下一步？</strong></p>

      <ul>
      <li>请检查您填写的贷款信息或贷款人担保人信息是否有必填的信息遗漏了。</li>
      <li>请检查您的浏览器以及网速！</li>
      <li>经上述操作后您仍然无法进行下一步操作，建议您拨打客服电话xxxxxx进行相关查询。</li>
      </ul>
      </li>
      <li><p><strong>什么是正常项目、逾期项目、坏账项目？</strong></p>

      <ul>
      <li>正常项目：在进行过程中一切正常（未有逾期等行为）</li>
      <li>逾期项目：在进行过程中在某一期发生逾期，并且逾期天数大于1天小于3个月（90 天）时，此时项目转为了逾期项目。</li>
      <li>坏账项目：在进行过程中在某一期发生逾期，并且逾期天数大于3个月（即超过90 天）时，此时项目转为了坏账项目。</li>
      </ul>
      </li>
      <li><p><strong>项目如何收款：</strong>某项目操作中，选择收款，此时针对此项目进行收款操作。</p></li>
      <a href="images/help/6.png" class="thumbnail" target="_blank">
       <img src="images/help/6.png">
      </a>
      <br>
      <li><p><strong>如何删除项目：</strong>项目在放款之前，在待放款项目里点击操作选择删除，进行删除。一旦项目放款后为保证数据有效性，将不能进行删除和修改。所以新建时请仔细核实！</p></li>
      <a href="images/help/7.png" class="thumbnail" target="_blank">
       <img src="images/help/7.png">
      </a>
      <br>
      </ol>


      <h4 id="contact">三、客户管理</h4>

      <ol>
      <li><p><strong>如何新建客户：</strong>点击“客户管理”进入客户管理页面，再按以下操作</p></li>
      <a href="images/help/8.png" class="thumbnail" target="_blank">
       <img src="images/help/8.png">
      </a>
      <br>
      <li><p><strong>客户管理有哪些功能：</strong>记录和保存客户个人信息（身份证、手机、邮箱等），同时也可对项目正在进行的客户，进行相关提醒（手机短信 邮箱通知等）方便信息管理。</p></li>
      </ol>
    </div>
</div>
