<div class="row">
    <div class="col-md-3" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
      <ul class="nav bs-docs-sidenav">
        <li>
          <a href="#loan">放款部分</a>
          <ul class="nav">
            <li><a href="#loan-create">新建放款</a></li>
            <li><a href="#loan-pending">待放款管理</a></li>
          </ul>
        </li>
       <!--  <accordion-group heading="放款部分" is-open="status[1]" ng-click="status[1] = !status[1]">
          <li><a href="#loan-create">新建放款</a></li>
          <li><a href="#loan-pending">待放款管理</a></li>
        </accordion-group> -->
        <li>
          <a href="#collect">收款管理</a>
          <ul class="nav">
            <li><a href="#collect-pending">待收款管理</a></li>
            <li><a href="#collect-already">已收款管理</a></li>
          </ul>
        </li>
        <li>
          <a href="#contact">客户管理</a>
          <ul class="nav">
            <li><a href="#contact-create">新增用户</a></li>
            <li><a href="#contact-edit">编辑用户</a></li>
            <li><a href="#contact-delete">删除用户</a></li>
          </ul>
        </li>
      </ul>

    </nav>
    </div>
    <div class="col-md-9">
      
    </div>
</div>

