

<div ng-controller="SignupController" class="ks-signup-container">
	<h3>注册您的昆山贷款账号</h3>
	<br/>
	<div class="alert alert-danger" ng-show="err">
		<p>{{err}}</p>
	</div>
	<form name="signupform"  novalidate>
		<div class="form-group">
			<label>手机号</label>
			<input type="text" class="form-control" name="mobilePhoneNum" placeholder="请填写您的手机号" ng-model="account.mobilePhoneNumber" required ng-pattern="/\b\d{11}\b/" ng-disabled="isCodeSending"/>
			 <div ng-show="signupform.$submitted || signupform.mobilePhoneNum.$touched">
		      <div class="text-danger" ng-show="signupform.mobilePhoneNum.$error.required">请填写手机号</div>
		      <div class="text-danger" ng-show="signupform.mobilePhoneNum.$error.pattern">请填写正确的手机号</div>
		    </div>
		</div>
		<div class="form-group" >
			<label>密码</label>
			<input type="password" name="password" class="form-control" placeholder="登录密码" ng-model="account.password"  required ng-minlength="6" ng-disabled="isCodeSending">
			<div ng-show="signupform.$submitted || signupform.password.$touched">
		      <div class="text-danger" ng-show="signupform.password.$error.required">请填写密码</div>
		      <div class="text-danger" ng-show="signupform.password.$error.minlength">密码不得少于六位</div>
		    </div>
		</div>
		<div class="form-group">
			<label>密码确认</label>
			<input type="password" name="pwrepeatd"class="form-control" placeholder="请再次输入密码" ng-model="account.passwordConfirmation" required ng-disabled="isCodeSending">
			<div ng-show="signupform.$submitted || signupform.pwrepeatd.$touched">
		      <div class="text-danger" ng-show="signupform.pwrepeatd.$error.required">请确认密码</div>
		    </div>
		</div>
		</form>
		<div class="form-group" ng-form name="codeForm">
			<label>手机验证码</label>
			<div class="row">
				<div class="col-md-7">
					<input type="text" name="code" class="form-control" placeholder="请输入验证码" ng-model="code" required>
					<div ng-show="codeForm.$submitted || codeForm.code.$touched">
		     			 <div class="text-danger" ng-show="codeForm.code.$error.required">请输入验证码</div>
		    		</div>
				</div>
				<div class="col-md-5">
				<button type="submit" class="btn btn-default" style="width:100%" ng-click="sendVerifyCode()" ng-disabled="isCodeSending || signupform.$invalid " ng-init="sendingText='秒后再发送';sendText='发送验证码'">{{isCodeSending ? cutdown + sendingText:sendText}}</button>
				</div>
			</div>
		</div>
		<br/>
		<div class="form-group">
			<button type="submit" class="btn btn-success" style="width:100%" ng-click="signup()" ng-disabled="isSignuping || signupform.$invalid || codeForm.$invalid" >立即注册</button>
		</div>
	<br/>
	<div class="form-group">
		<a ui-sref="login" class="text-info ks-right">登录您的昆山账号</a>
	</div>



</div>
