<div ng-controller="LoginController" class="ks-login-container">
	<h3>登录</h3>
	<br/>
	<div class="alert alert-danger" ng-show="err">
		<p>{{err}}</p>
	</div>
	<form name="loginform" ng-submit="loginform.$valid &&login()">
	<div class="form-group">
		<label>手机号</label>
		<input type="text" name="mobilePhoneNum" class="form-control" placeholder="请填写注册的手机号" ng-model="account.mobilePhoneNumber" required ng-pattern="/\b\d{11}\b/">
		<div ng-show="loginform.$submitted || loginform.mobilePhoneNum.$touched">
	      <div class="text-danger" ng-show="loginform.mobilePhoneNum.$error.required">请输入手机号</div>	          <div class="text-danger" ng-show="loginform.mobilePhoneNum.$error.pattern">请填写正确的手机号</div>
	    </div>
	</div>
	<div class="form-group">
		<label>密码</label>
		<input type="password" name="password" class="form-control" placeholder="登录密码"  ng-model="account.password" required>
		<div ng-show="loginform.$submitted || loginform.password.$touched">
	      <div class="text-danger" ng-show="loginform.password.$error.required">请输入密码</div>
	    </div>
	</div>
	<div class="form-group">
		<div class="checkbox">
		    <label>
		      <input type="checkbox" name="rememberMe" ng-model="account.rememberMe" > 一周内免登陆
		    </label>
	 	 </div>
	</div>
	<br/>
	<div class="form-group">
		<button type="submit" class="btn btn-success" style="width:100%"  ng-disabled="logining || loginform.$invalid">登录</button>
	</div>
	</form>
	<br/>
	<div class="form-group">
		<a ui-sref="retrieve_password" class="text-info ks-left">忘记密码?</a>
		<a ui-sref="signup" class="text-info ks-right">注册您的昆山账号+</a>
		<!-- <button type="submit" class="btn btn-info" style="width:100%">注册</button> -->
	</div>

</div>