	<div class="ks-dividing">
		<h4>担保人</h4>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="ks-panel panel panel-default">
				<div class="panel-heading">
					担保人信息
					<span><a class="text-info ks-right small" ng-init="grSelect=true" ng-click="grSelect=!grSelect">从客户中选择</a></span>
				</div>
				<div class="panel-body">
					<div class="row">
						 <alert type="warning" close="closed = true" ng-show="!closed && gr.objectId && !status.loanCreating" >{{'您已从客户中选择担保人，此处修改将更新到联系人信息，若新建客户请重置'}}</alert>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">*姓名</label>
								<input type="text" class="form-control" placeholder="姓名" name="gname" ng-pattern="/^([\u4e00-\u9fa5]+|([a-zA-Z]+\s?)+)$/" ng-model="gr.name" ng-required="br.hasGr">
								<div ng-show="moreInfoForm.$submitted || moreInfoForm.gname.$touched">
									<div class="text-danger" ng-show="moreInfoForm.gname.$error.required">请填担保人姓名</div>
									<div class="text-danger" ng-show="moreInfoForm.gname.$error.pattern">请填写正确的担保人姓名</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">*身份证</label>
								<input type="text" class="form-control" placeholder="身份证" name="gid" ng-model="gr.certificateNum" ui-validate="{notSame:'$value !== br.certificateNum',uniqueId:'unique.gr'}" ui-validate-watch="{notSame:'br.certificateNum',uniqueId:'unique.gr'}" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" ng-blur="checkContactUnique('gr')" 
								 ng-required="br.hasGr">
								<div ng-show="moreInfoForm.$submitted || moreInfoForm.gid.$touched"  >
									<div class="text-danger" ng-show="moreInfoForm.gid.$error.notSame">担保人不能是本人</div>
									<div class="text-danger" ng-show="moreInfoForm.gid.$error.required">请填担保人身份证</div>
									<div class="text-danger" ng-show="moreInfoForm.gid.$error.pattern">请填写正确的身份证号</div>
									<div class="text-danger" ng-show="moreInfoForm.gid.$error.uniqueId">已存在相同身份证的客户</div>
								</div>
							</div>
						</div>
					</div>
	
					<div style="text-align:right">
						<a ng-init="grMore=false" ng-click="grMore=!grMore" class=" text-info">{{grMore?'收起更多信息':'填写更多信息'}}</a>
					</div>
					<div ui-toggle="grMore">
					<div class="ks-divider"></div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>手机号</label>
								<input type="text" class="form-control" placeholder="手机号" name="gmobilePhoneNum"ng-model="gr.mobilePhoneNum" ng-pattern="/\b\d{11}\b/">
								<div ng-show="moreInfoForm.$submitted || moreInfoForm.gmobilePhoneNum.$touched">
									<div class="text-danger" ng-show="moreInfoForm.gmobilePhoneNum.$error.pattern">请填写正确的手机号</div>
								</div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>邮箱</label>
								<input type="email" class="form-control" placeholder="邮箱" name="gemail" ng-model="gr.email">
								<div ng-show="moreInfoForm.$submitted || moreInfoForm.gemail.$touched">
									<div class="text-danger" ng-show="moreInfoForm.gemail.$error.email">请填写正确邮箱</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row"> 
						<div class="col-md-6">
							<div class="form-group">
								<label>QQ</label>
								<input type="text" class="form-control" placeholder="QQ" name="gqq" ng-model="gr.qq">
								<div ng-show="moreInfoForm.$submitted || moreInfoForm.gqq.$touched">
									<div class="text-danger" ng-show="moreInfoForm.gqq.$error.pattern">请填写正确QQ号</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>微信</label>
								<input type="text" class="form-control" placeholder="微信" ng-model="gr.wechat">

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>现居地址</label>
								<input type="text" class="form-control" placeholder="现居地址" ng-model="gr.address" name="gaddress">
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			</script>
			<div class="ks-panel panel panel-default" collapse="grSelect">
				<div class="panel-heading">从客户中选择担保人<i ng-show="loadingContacts2" class="glyphicon glyphicon-refresh"></i></div>
				<div class="panel-body">
					<div class="input-group">
						<div class="input-group-btn" dropdown>
							<button type="button" class="btn btn-default dropdown-toggle" ng-init="grsearchType='name'" dropdown-toggle >{{grsearchType === 'name'? '姓名':'身份证'}}<span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right" role="menu" style="min-width:73px;">
								<li><a ng-click="grsearchType='name'">姓名</a></li>
								<li><a ng-click="grsearchType='certificate'">身份证</a></li>
							</ul>
							
						</div>
						<input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="selected.gr" typeahead="contact as contact.name for contact in searchContacts(grsearchType,$viewValue) | filter:{name:$viewValue}" typeahead-loading="loadingContacts2"  typeahead-template-url="contactTemplate.html" >
						<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="resetContact('gr')">重置</button>
							</span>
					</div>
				</div>
			</div>

			<div class="ks-panel panel panel-default">
				<div class="panel-heading">担保人附件
					<button type="button" class="btn btn-xs btn-info ks-right" ng-click="uploadAttachment('担保人')" style="margin-top:-5px;">上传</button>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-show="gr.attachments" ng-repeat="a in gr.attachments">
							<a class="glyphicon glyphicon-remove text-danger ks-right "  ng-click="removeAttach('gr',$index)"></a>
							<a href="{{a.url}}" target="_blank">
									{{(a.attachmentType || a.metaData.fileType) | cDisplay:"fileTypes"}} | {{a.name}}  | {{ (a.size || a.metaData.size) / 1000000 | number:2}}M
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>