#%RAML 0.8

title: Kunshan Dai
baseUri: http://kunshandai.avosapps.com/{version}
version: v1
traits:
  - paged:
      queryParameters:
        pages:
          description: The number of pages to return
          type: number

/account:        
  /login:
    post:
      queryParameters:
        mobilePhoneNumber:
          description: |
            mobilePhoneNumber
          type: string
        password:
          description: |
            password
          type: string
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                    "username": "18516171260",
                    "emailVerified": false,
                    "mobilePhoneNumber": "18516171260",
                    "mobilePhoneVerified": true,
                    "objectId": "551fea47e4b02dd0ab568b85",
                    "createdAt": "2015-04-04T13:42:31.367Z",
                    "updatedAt": "2015-04-04T13:42:59.487Z"
                }
        210:
          body:
            application/json:
              schema: |
                {
                  "code": 210,
                  "message": "The username and password mismatch."
                }
        211:
          body:
            application/json:
              schema: |
                {
                  "code": 211,
                  "message": "Could not find user"
                }
      description: login system with mobilePhoneNumber & password
  /logout:
    get:
      description: logout current user
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                    "username": "18516171260",
                    "emailVerified": false,
                    "mobilePhoneNumber": "18516171260",
                    "mobilePhoneVerified": true,
                    "objectId": "551fea47e4b02dd0ab568b85",
                    "createdAt": "2015-04-04T13:42:31.367Z",
                    "updatedAt": "2015-04-04T13:42:59.487Z"
                }
  /isLogin:
    get:
      description: check is current login or not
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                    "username": "18516171260",
                    "emailVerified": false,
                    "mobilePhoneNumber": "18516171260",
                    "mobilePhoneVerified": true,
                    "objectId": "551fea47e4b02dd0ab568b85",
                    "createdAt": "2015-04-04T13:42:31.367Z",
                    "updatedAt": "2015-04-04T13:42:59.487Z"
                }
        210:
          body:
            application/json:
              schema: |
                {
                  "result":false,
                  "code":210
                }
  /register:
    post:
      description: |
        Register a new user and verify mobilePhoneNumber (close verify in leancloud if necessary)
      queryParameters:
        mobilePhoneNumber:
          description: |
            mobilePhoneNumber
          type: string
        password:
          description: |
            password
          type: string
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                    "username": "18516171260",
                    "emailVerified": false,
                    "mobilePhoneNumber": "18516171260",
                    "mobilePhoneVerified": true,
                    "objectId": "551fea47e4b02dd0ab568b85",
                    "createdAt": "2015-04-04T13:42:31.367Z",
                    "updatedAt": "2015-04-04T13:42:59.487Z"
                }
  /requestMobilePhoneVerif:
    get:
      description: |
        重新验证手机号
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                  "result":"success",
                  "code":200
                }
  /verifyUserMobilePhoneNumber:
    post:
      queryParameters:
        code:
          description: |
            code
          type: integer
      description: |
        验证手机号
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                  "result":"success",
                  "code":200
                }
  /requestEmailVerify:
    get:
      description: |
        发送验证邮件
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                  "result":"success",
                  "code":200
                }
  
/loan:
  /create_loan:
    post:
      description: |
        新建一个贷款项目
      queryParameters:
        amount:
          example: 10000.0
          type: string
        spanMonth:
          type: string
        startDate:
          description: 合同开始日期
          example: 2014-10-29
          type: date
        endDate:
          description: 合同结束日期
          example: 2014-10-29
          type: date
        payCircle:
          example: 2
          description: 每X月还一次款
          type: number
        payTotalCircle:
          example: 20
          description: 总共还款的月数
          type: number
        interests:
          description: 百分之N(按处理后的小数传递)
          example: 5
          type: number
        assureCost:
          example: 10000.0
          type: number
        serviceCost:
          type: number
        overdueCostPercent:
          description: 千分之N(按处理后的小数传递)
          example: 0.001
          type: number
        otherCost:
          type: number
        keepCost:
          type: number
        payWay:
          description: |
            还款方式,可能后期变动
          example: |
            {"debx":等额本息, "zqch":周期初还本付息,"zqmh":周期末还本付息,"qx":还全息}
          type: string
        firstPayDate:
          description: 首次还款时间
          type: date
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                    "data": {
                        "amount": 111111,
                        "spanMonth": 10,
                        "startDate": {
                            "__type": "Date",
                            "iso": "2015-01-09T16:00:00.000Z"
                        },
                        "endDate": {
                            "__type": "Date",
                            "iso": "2015-10-10T00:00:00.000Z"
                        },
                        "payCircle": 3,
                        "payTotalCircle": 10,
                        "interests": 0.02,
                        "assureCost": 1000,
                        "serviceCost": 1000,
                        "overdueCostPercent": 0.003,
                        "otherCost": 1000,
                        "keepCost": 1000,
                        "payWay": "debx",
                        "firstPayDate": {
                            "__type": "Date",
                            "iso": "2015-04-09T16:00:00.000Z"
                        },
                        "status": 0,
                        "objectId": "552acd98e4b0b40da3725bd4",
                        "createdAt": "2015-04-12T19:55:04.068Z",
                        "updatedAt": "2015-04-12T19:55:04.068Z"
                    },
                    "code": 200
                }
  /generate_bill:
    description: |
      生成放款账单（目前只支持xxhb）
    post:
      queryParameters:
        loanId:
          type: string
        loanerId:
          type: string
        assurerId:
          type: string
      responses:
        200:
          body:
            application/json:
              schema: |
               {
                   "data": {
                       "loan": {
                           "objectId": "552acd98e4b0b40da3725bd4",
                           "amount": 111111,
                           "payWay": "xxhb",
                           "payCircle": 3,
                           "spanMonth": 10,
                           "payTotalCircle": 10,
                           "assureCost": 1000,
                           "overdueCostPercent": 0.003,
                           "startDate": "2015-01-09T16:00:00.000Z",
                           "loanRecords": {
                               "__type": "Relation",
                               "className": "LoanRecord"
                           },
                           "loanPayBacks": {
                               "__type": "Relation",
                               "className": "LoanPayBack"
                           },
                           "serviceCost": 1000,
                           "keepCost": 1000,
                           "endDate": "2015-10-10T00:00:00.000Z",
                           "status": 0,
                           "interests": 0.02,
                           "firstPayDate": "2015-04-09T16:00:00.000Z",
                           "otherCost": 1000,
                           "assurer": {
                               "objectId": "552acfe3e4b0b40da3725eed"
                           },
                           "loaner": {
                               "objectId": "552acfe3e4b0b40da3725eed"
                           }
                       },
                       "loanRecord": {
                           "interestsMoney": -22222.2,
                           "keepCost": -1000,
                           "assureCost": -1000,
                           "serviceCost": -1000,
                           "otherCost": -1000,
                           "outMoney": 84888.8,
                           "order": 0,
                           "objectId": "552ad190e4b0da2c5e125a8a",
                           "createdAt": "2015-04-12T20:12:00.575Z",
                           "updatedAt": "2015-04-12T20:12:00.575Z"
                       }
                   },
                   "code": 200
               }
  /assure_bill:
    description: |
      完成项目创建，如果不执行这一步取消了，这个项目就是草稿项目，放入草稿箱
    post:
      queryParameters:
        loanId:
          type: string
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                    "data": {
                        "amount": 111111,
                        "payWay": "xxhb",
                        "payCircle": 3,
                        "spanMonth": 10,
                        "payTotalCircle": 10,
                        "assurer": {
                            "__type": "Pointer",
                            "className": "Contract",
                            "objectId": "552acfe3e4b0b40da3725eed"
                        },
                        "assureCost": 1000,
                        "overdueCostPercent": 0.003,
                        "startDate": {
                            "__type": "Date",
                            "iso": "2015-01-09T16:00:00.000Z"
                        },
                        "loanRecords": {
                            "__type": "Relation",
                            "className": "LoanRecord"
                        },
                        "loaner": {
                            "__type": "Pointer",
                            "className": "Contract",
                            "objectId": "552acfe3e4b0b40da3725eed"
                        },
                        "loanPayBacks": {
                            "__type": "Relation",
                            "className": "LoanPayBack"
                        },
                        "serviceCost": 1000,
                        "keepCost": 1000,
                        "endDate": {
                            "__type": "Date",
                            "iso": "2015-10-10T00:00:00.000Z"
                        },
                        "status": 1,
                        "interests": 0.02,
                        "firstPayDate": {
                            "__type": "Date",
                            "iso": "2015-04-09T16:00:00.000Z"
                        },
                        "otherCost": 1000,
                        "objectId": "552acd98e4b0b40da3725bd4",
                        "createdAt": "2015-04-12T19:55:04.068Z",
                        "updatedAt": "2015-04-12T20:19:28.826Z"
                    },
                    "code": 200
                }


/contract:
  post:
    queryParameters:
      data:
        description: |
          以json形式传输联系人信息创建联系人,直接发送下面的json，不用加data
        type: string
        example: |
           {
             "name":"test",
             "mobilePhoneNumber":"18516171260",
             "certificateType":"shenfenzheng",
             "certificateNum":"542421421421321312312",
             "email":"yilaing@foxmail.com",
             "qq":"32727272992",
             "address":"fdsafasf",
             "wechat":"fasdfa",
             "attachments": ["552a0e61e4b0b40da36acc5b"]
           }
    responses:
      200:
        body:
          application/json:
            example: |
             {
                 "data": {
                     "name": "test23",
                     "certificateType": "shenfenzheng",
                     "certificateNum": "542421421421321312312",
                     "email": "yilaing@foxmail.com",
                     "qq": "32727272992",
                     "address": "fdsafasf",
                     "wechat": "fasdfa",
                     "mobilePhoneNumber": "13911111111",
                     "objectId": "552ad42ee4b0da2c5e125ec1",
                     "createdAt": "2015-04-12T20:23:10.255Z",
                     "updatedAt": "2015-04-12T20:23:10.255Z"
                 },
                 "code": 200
             }

  /{id}:
    get:
      description: |
        未完成
      responses:
        200:
          body:
            application/json:
              example: |
               {
                
               }


/attachment:
  post:
    queryParameters:
      attachment:
        type: file
    responses:
      200:
        body:
          application/json:
            example: |
              {
                  "data": {
                      "metaData": {
                          "owner": "unknown",
                          "size": 527,
                          "mime_type": "text/plain"
                      },
                      "id": "552a2294e4b0b40da36ba7e7",
                      "url": "http://ac-gvw1ggob.clouddn.com/b7f1294b28cdbb96.md",
                      "name": "xxxxxx.md"
                  },
                  "code": 200
              }

/dict:
  /payBackWays:
    get:
      description: |
        获取还款类型
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                    "data": {
                        "debx": {
                            "value": "debx",
                            "text": "等额本息"
                        },
                        "xxhb": {
                            "value": "xxhb",
                            "text": "先息后本"
                        },
                        "zqcxhb": {
                            "value": "zqcxhb",
                            "text": "周期初息后本"
                        },
                        "zqmxhb": {
                            "value": "zqmxhb",
                            "text": "周期末息后本"
                        },
                        "dqhbfx": {
                            "value": "dqhbfx",
                            "text": "到期还本付息"
                        }
                    },
                    "code": 200
                }
  /loanTypes:
    get:
      description: |
        获取贷款抵押种类
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                    "data": {
                        "fcdy": {
                            "value": "fcdy",
                            "text": "房产抵押"
                        },
                        "qcdy": {
                            "value": "qcdy",
                            "text": "汽车抵押"
                        },
                        "mfdy": {
                            "value": "mfdy",
                            "text": "买房抵押"
                        },
                        "mcdy": {
                            "value": "mcdy",
                            "text": "买车抵押"
                        },
                        "wdy": {
                            "value": "wdy",
                            "text": "无抵押"
                        },
                        "qtdy": {
                            "value": "qtdy",
                            "text": "其他抵押"
                        }
                    },
                    "code": 200
                }