<div class="ks-panel">
	<div class="panel panel-default">
		<div class="panel-heading">查询抵押物信息</div>
		<div class="panel-body">
      <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="input-group">

          <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="search.keyword">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="startSearch()">搜索</button>
          </span>
        </div>
      </div>
    </div>
      <div class="ks-divider"></div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>抵押物类型</th>
            <th>被抵押总次数</th>
            <th>已结清的抵押次数</th>
            <th>未结清的抵押次数</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>
