
		<div class="ks-dividing">
			<h4>合同详情</h4>
		</div>
		<div class="row">
			<div class="col-md-11">
				<h4>合同编号: {{loanInfo.objectId}}</h4>
			</div>
			<div class=" col-md-1">
			<button class="btn btn-warning " ng-click="activeLoan()" ng-show="!loanInfo.actived">立即放款</button>
			<button class="btn btn-success " ng-show="loanInfo.actived" ng-disabled="true">放款成功</button>
<!-- 			<button class="btn btn-info " type="submit" onclick="window.print()">打印合同</button> -->
			</div>
		</div>
		<div class="ks-panel panel panel-primary">
			<div class="panel-heading">贷款信息</div>
		    <div class="panel-body">
		    	<!-- <strong class="ks-heading ks-color-light">合同编号: {{loanInfo.objectId}}</strong> -->
		    	<!-- <div class="ks-divider"></div> -->
		    	<p class="ks-heading">借款人信息:</p>
		    	<p>姓 名: {{br.name}}</p>
		    	<p>电 话: {{br.mobilePhoneNum}}</p>
		    	<div class="ks-divider"></div>
		    	<p class="ks-heading">担保人信息:</p>
		    	<p>姓 名: {{gr.name}}</p>
		    	<p>电 话: {{gr.mobilePhoneNum}}</p>
		    	<div class="ks-divider"></div>
		    	<table class="table table-striped">
									<thead>
										<tr>
											<th>贷款类型</th>
											<th>贷款金额（元）</th>
											<th>开始日期</th>
											<th>截止日期</th>
											<th>还款类型</th>
											<th>首次还款日期</th>
											<th>还款周期（月/次）</th>
											<th>还款总次数（次）</th>

										</tr>
									</thead>
									<tbody>
									
										
										<tr>
											<td>{{loanInfo.loanType | cDisplay:"loanTypes"}}</td>
											<td>{{loanInfo.amount | number:2}}</td>
											<td>{{loanInfo.startDate | date:"yyyy-MM-dd"}}</td>
											<td>{{loanInfo.endDate | date:"yyyy-MM-dd"}}</td>
											<td>{{loanInfo.payWay | cDisplay:"payBackWays"}}</td>
											<td>{{loanInfo.firstPayDate | date:"yyyy-MM-dd"}}</td>
											<td>{{loanInfo.payCircle}}</td>
											<td>{{loanInfo.payTotalCircle}}</td>
										</tr>
									</tbody>
				</table>
				<table class="table table-striped">
									<thead>
										<tr>
											<th>利率（‰/月）</th>
											<th>履约保证金（元）</th>
											<th>服务费（元）</th>
											<th>逾期违约金（‰/月）</th>
											<th>其他费用（元）</th>
											<th>暂收金额（元）</th>
										</tr>
									</thead>
									<tbody>
									
										
										<tr>
											<td>{{loanInfo.interests * 100}}</td>
											<td>{{loanInfo.assureCost | number:2}}</td>
											<td>{{loanInfo.serviceCost | number:2}}</td>
											<td>{{loanInfo.overdueCostPercent * 1000}}</td>
											<td>{{loanInfo.otherCost | number:2}}</td>
											<td>{{loanInfo.keepCost | number:2}}</td>
										</tr>

									</tbody>
				</table>
		    </div>
		</div>
		<div class="ks-panel panel panel-primary" ng-show="loanInfo.actived">
			<div class="panel-heading">还款信息</div>
		    <div class="panel-body">
		    	<table class="table ">
									<thead>
										<tr>
											<th>期数</th>
											<th>还款金额(元)</th>
											<th>还款日期</th>
											<th>状态</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="p in loanInfo.paybacks" ng-class="{success:(p.status == 1),info:(status == 2)}">
											<td>{{p.order}}</td>
											<td>{{p.payMoney}}</td>
											<td>{{p.payDate | date:"yyyy-MM-dd" }}</td>
											<td ng-show="p.status === 1" class="text-info">正在还</td>
											<td ng-show="p.status === 2" >未还</td>
											<td ng-show="p.status === 3"class="text-success">已还</td>
										</tr>
									</tbody>
					</table>
		    </div>
		</div>
		<div class="ks-panel panel panel-default">
			<div class="panel-heading">其他材料</div>
		    <div class="panel-body">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<div class="ks-panel panel panel-default">
							<div class="panel-heading">抵押物材料</div>
						    <div class="panel-body">
						    	<ul class="list-group">
						    		
						    	</ul>
						    </div>
						</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="ks-panel panel panel-default">
							<div class="panel-heading">借款人材料</div>
						    <div class="panel-body">
						    	<ul class="list-group">
									<li class="list-group-item" ng-repeat="a in br.attachments" >
										<a href="{{a.url}}" target="_blank">{{a.name}} | {{a.attachmentType}}</a>
									</li>
								</ul>
						    </div>
						</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="ks-panel panel panel-default">
							<div class="panel-heading">担保人材料</div>
						    <div class="panel-body">
						    	
						    		<ul class="list-group">
										<li class="list-group-item" ng-repeat="a in gr.attachments" >
											<a href="{{a.url}}" target="_blank">{{a.name}} | {{a.attachmentType}}</a>
										</li>
									</ul>
						 
						    </div>
						</div>
		    		</div>

		    	</div>
		    </div>
		</div>