
		<div class="ks-dividing">
			<h4>合同详情</h4>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="col-md-offset-10 col-md-2">
			<button class="btn btn-warning " ng-click="activeLoan()" ng-show="!loanInfo.actived">立即放款</button>
			<button class="btn btn-success " ng-click="activeLoan()" ng-show="loanInfo.actived" ng-disabled="true">放款成功</button>
			<button class="btn btn-info " type="submit" onclick="window.print()">打印合同</button>
			</div>
		</div>
		<div class="ks-panel panel panel-primary">
			<div class="panel-heading">贷款信息</div>
		    <div class="panel-body">
		    	<strong class="ks-heading ks-color-light">合同编号: {{contact.loanId}}</strong>
		    	<div class="ks-divider"></div>
		    	<p class="ks-heading">借款人信息:</p>
		    	<p>姓 名: {{br.name}}</p>
		    	<p>电 话: {{br.mobilePhoneNum}}</p>
		    	<div class="ks-divider"></div>
		    	<p class="ks-heading">担保人信息:</p>
		    	<p>姓 名: {{gr.name}}</p>
		    	<p>电 话: {{gr.mobilePhoneNum}}</p>
		    	<div class="ks-divider"></div>
		    	<table class="table table-striped">
									<thead>
										<tr>
											<th>贷款类型</th>
											<th>贷款金额（元）</th>
											<th>开始日期</th>
											<th>截止日期</th>
											<th>还款类型</th>
											<th>首次还款日期</th>
											<th>还款周期（月）</th>
											<th>还款总期数（期）</th>

										</tr>
									</thead>
									<tbody>
									
										
										<tr>
											<td>{{loanInfo.loanType}}</td>
											<td>{{loanInfo.amount}}</td>
											<td>{{loanInfo.startDate}}</td>
											<td>{{loanInfo.endDate}}</td>
											<td>{{loanInfo.payWay}}</td>
											<td>{{loanInfo.firstPayDate}}</td>
											<td>{{loanInfo.payCircle}}</td>
											<td>{{loanInfo.payTotalCircle}}</td>
										</tr>
									</tbody>
				</table>
				<table class="table table-striped">
									<thead>
										<tr>
											<th>利率（‰/月）</th>
											<th>履约保证金（元）</th>
											<th>服务费（元）</th>
											<th>逾期违约金（元/月）</th>
											<th>其他费用（元）</th>
											<th>暂收金额（元）</th>
										</tr>
									</thead>
									<tbody>
									
										
										<tr>
											<td>{{loanInfo.interests}}</td>
											<td>{{loanInfo.assureCost}}</td>
											<td>{{loanInfo.serviceCost}}</td>
											<td>{{loanInfo.overdueCostPercent}}</td>
											<td>{{loanInfo.otherCost}}</td>
											<td>{{loanInfo.keepCost}}</td>
										</tr>

									</tbody>
				</table>
		    </div>
		</div>
		<div class="ks-panel panel panel-primary">
			<div class="panel-heading">还款信息</div>
		    <div class="panel-body">
		    	<table class="table ">
									<thead>
										<tr>
											<th>期数</th>
											<th>应还金额（元）</th>
											<th>实还金额（元）</th>
											<th>应收日期</th>
											<th>实还日期</th>
											<th>逾期费用（元）</th>
										</tr>
									</thead>
									<tbody>
										<tr class="success">
											<td>1/24</td>
											<td>20,000</td>
											<td>20,00</td>
											<td>2015-3-21</td>
											<td>2015-3-20</td>
											<td>0</td>
										</tr>
										<tr class="success">
											<td>2/24</td>
											<td>20,000</td>
											<td>20,00</td>
											<td>2015-4-21</td>
											<td>2015-4-19</td>
											<td>0</td>
										</tr>
										<tr class="danger">
											<td>3/24</td>
											<td>20,000</td>
											<td>20,00</td>
											<td>2015-4-21</td>
											<td></td>
											<td>10.2</td>
										</tr>
										<tr class="">
											<td>4/24</td>
											<td>20,000</td>
											<td>20,00</td>
											<td>2015-4-21</td>
											<td></td>
											<td>0</td>
										</tr>
										<tr class="">
											<td>5/24</td>
											<td>20,000</td>
											<td>20,00</td>
											<td>2015-4-21</td>
											<td></td>
											<td>0</td>
										</tr>
									</tbody>
					</table>
		    </div>
		</div>
		<div class="ks-panel panel panel-default">
			<div class="panel-heading">其他材料</div>
		    <div class="panel-body">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<div class="ks-panel panel panel-default">
							<div class="panel-heading">抵押物材料</div>
						    <div class="panel-body">
						    	<div class="row">
						    		
						    	</div>
						    </div>
						</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="ks-panel panel panel-default">
							<div class="panel-heading">借款人材料</div>
						    <div class="panel-body">
						    	<ul class="list-group">
									<li class="list-group-item" ng-repeat="a in br.attachments" >
										<a href="{{a.url}}" target="_blank">{{a.name}} | {{a.attachmentType}}</a>
									</li>
								</ul>
						    </div>
						</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="ks-panel panel panel-default">
							<div class="panel-heading">担保人材料</div>
						    <div class="panel-body">
						    	
						    		<ul class="list-group">
										<li class="list-group-item" ng-repeat="a in gr.attachments" >
											<a href="{{a.url}}" target="_blank">{{a.name}} | {{a.attachmentType}}</a>
										</li>
									</ul>
						 
						    </div>
						</div>
		    		</div>

		    	</div>
		    </div>
		</div>