<section>
    <div class="modal-header">
        <h3 class="modal-title">还款类型详解</h3>
    </div>
    <div class="modal-body">
        <div class="list-group">
		  <div class="list-group-item">
		    <h4 class="list-group-item-heading text-warning">等额本息</h4>
		    <p class="list-group-item-text">在还款期内，每月偿还同等数额的贷款(包括本金和利息)</p>
		  </div>
		  <div class="list-group-item">
		    <h4 class="list-group-item-heading text-warning">周期初息后本</h4>
		    <p class="list-group-item-text">放款时扣除首期利息，期间每一期归还利息，结束日期归还本金。</p>
		  </div>
		  <div class="list-group-item">
		    <h4 class="list-group-item-heading text-warning">周期末息后本</h4>
		    <p class="list-group-item-text">每一期周期末归还利息，最后一期归还本息。</p>
		  </div>
		  <div class="list-group-item">
		    <h4 class="list-group-item-heading text-warning">到期还本付息</h4>
		    <p class="list-group-item-text">到期本金和利息一起支付。</p>
		  </div>
		  <div class="list-group-item">
		    <h4 class="list-group-item-heading text-warning">先息后本</h4>
		    <p class="list-group-item-text">放款时扣除所有利息，到期归还本金。</p>
		  </div>
		</div>
    </div>
</section>