
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label class="control-label">*融资手续</label>
			<ul class="list-inline">
				 <li>
					<label class="checkbox-inline" ng-repeat="i in pawn.pawnType.items">
		                 <input type="checkbox" ng-model="pawn.pawnType.value[$index]" >{{i}}
		             </label>
				</li>
				<li>
					<input type="text" class="form-control input-sm" placeholder="自定义" ng-model="pawn.pawnType.value[pawn.pawnType.items.length]" style="height:28px;">
				</li>
			</div>
			<intput type="hidden" name="typeRquired" ng-model="pawnTypeRequired" ui-validate="'$value === false'">
			<div ng-show="moreInfoForm.$submitted">
				<div class="text-danger" ng-show="moreInfoForm.typeRquired.$error.validator">请填{{pawn.pawnType.text}}</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label">{{pawn.carNum.text}}</label>
			<input type="text" class="form-control" placeholder="{{pawn.carNum.text}}" ng-model="pawn.carNum.value" name="carNum" required>
			<!-- <div ng-show="moreInfoForm.$submitted || moreInfoForm.carNum.$touched">
				<div class="text-danger" ng-show="moreInfoForm.carNum.$error.required">请填{{pawn.carNum.text}}</div>
			</div> -->
		</div>
	</div>

	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label">{{pawn.brand.text}}</label>
			<input type="text" class="form-control" placeholder="{{pawn.brand.text}}" ng-model="pawn.brand.value" name="brand" >
			<!-- <div ng-show="moreInfoForm.$submitted || moreInfoForm.brand.$touched">
				<div class="text-danger" ng-show="moreInfoForm.brand.$error.required">请填{{pawn.brand.text}}</div>
			</div> -->
		</div>
	</div>
</div>