<div class="ks-dividing">
	<h4 ng-show="('borrow.draft' | isState)">融资管理->待入账项目</h4>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="btn-group btn-group-middle" >
			<button type="button" class="btn btn-default" ui-sref="borrow.draft" ui-sref-active="active" ng-show="('borrow.draft' | isState)">待入账项目</button>
		</div>
	</div>
</div>
<div class="ks-panel">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>融资单号</th>
				<th>投资人</th>
				<th>融资金额（元）</th>
				<th>创建时间</th>
				<th>融资抵押类型</th>
				<th>还款类型</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="loan in loans | orderBy:'createdAt'">
				<td><a href="/bloan?id={{loan.id}}" target="_blank" class="text-second">{{loan.numberWithName}}</a></td>
				<td>{{loan.loaner.name}}</td>
				<td>{{loan.amount | number:2}}</td>
				<td>{{loan.createdAt | date:"yyyy-MM-dd" }}</td>
				<td>{{loan.loanType.text}}</td>
				<td>{{loan.payWay.text}}</td>
				<td>
					<div class="dropdown" dropdown>
						<a class="glyphicon glyphicon-triangle-bottom" dropdown-toggle></a>
						<ul class="dropdown-menu" role="menu">
							<li><a role="menuitem" ng-click="activeLoan(loan.id)">入账</a></li>
							<li><a role="menuitem" ng-click="deleteLoan(loan.id)" class="text-danger">删除</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="ks-panel">
	<pagination total-items="totalLoans" ng-model="currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页"></pagination>

</div>
