<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label class="control-label">*融资手续</label>
			<ul class="list-inline">
				 <li>
					<!-- <label class="btn btn-xs btn-default" ng-model="pawn.pawnType.value[$index]" btn-checkbox ng-repeat="i in pawn.pawnType.items"  >{{i}}</label> -->
					<label class="checkbox-inline" ng-repeat="i in pawn.pawnType.items">
		                 <input type="checkbox" ng-model="pawn.pawnType.value[$index]" >{{i}}
		             </label>
				</li>
				<li>
					<input type="text" class="form-control input-sm" placeholder="自定义" ng-model="pawn.pawnType.value[pawn.pawnType.items.length]" style="height:28px;" >
				</li>
			</ul>
			<intput type="hidden" name="typeRquired" ng-model="pawnTypeRequired" ui-validate="'$value === false'">
			<div ng-show="moreInfoForm.$submitted">
				<div class="text-danger" ng-show="moreInfoForm.typeRquired.$error.validator">请填{{pawn.pawnType.text}}</div>
			</div>
		</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label">{{pawn.city.text}}</label>
			<input type="text" class="form-control" placeholder="{{pawn.city.text}}" ng-model="pawn.city.value" name="brand" >
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label">{{pawn.zone.text}}</label>
			<input type="text" class="form-control" placeholder="xx小区xx楼xx室" ng-model="pawn.zone.value" name="zone" >
		</div>
	</div>
</div>
