<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label">{{pawn.city.text}}</label>
			<input type="text" class="form-control" placeholder="{{pawn.city.text}}" ng-model="pawn.city.value" name="brand" >
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label">{{pawn.zone.text}}</label>
			<input type="text" class="form-control" placeholder="xx小区xx楼xx室" ng-model="pawn.zone.value" name="zone" >
		</div>
	</div>
</div>
