<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>科目</th>
        <th>支出</th>
        <th>收入</th>
        <th>余额</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">贷款金额（元）</th>
        <td>{{payment.baseMoney | number:2 }}</td>
        <td></td>
        <td>{{row1 = -payment.baseMoney | number:2 }}</td>
      </tr>
      <tr>
        <th scope="row">利息（元）</th>
        <td></td>
        <td>{{-payment.interestsMoney | number:2}}</td>
        <td>{{row2 = row1-payment.interestsMoney | number:2}}</td>
      </tr>
      <tr>
        <th scope="row">履约保证金（元）</th>
        <td></td>
        <td>{{-payment.assureCost | number:2}}</td>
        <td>{{row3 = row2 -payment.assureCost | number:2}}</td>
      </tr>
      <tr>
        <th scope="row">服务费（元）</th>
        <td></td>
        <td>{{-payment.serviceCost | number:2}}</td>
        <td>{{row4 = row3 -payment.serviceCost | number:2}}</td>
      </tr>
      <tr>
        <th scope="row">其他费用（元）</th>
        <td></td>
        <td>{{-payment.otherCost | number:2}}</td>
        <td>{{row5 = row4 -payment.otherCost | number:2}}</td>
      </tr>
      <tr>
        <th scope="row">暂收（元）</th>
        <td></td>
        <td>{{-payment.keepCost | number:2}}</td>
        <td>{{row6 = row5 - payment.keepCost | number:2}}</td>
      </tr>
      <tr ng-show="loan.isModifiedLoan" class="warning">
        <th scope="row">上期结余 <a class="text-info small" href="/loan?id={{loan.preLoanData.loanId}}" target="_blank">详情</a></th>
        <td></td>
        <td>{{loan.preLoanData.finishPayedMoney | number:2}}</td>
        <td>{{row7 = row6 + loan.preLoanData.finishPayedMoney | number:2}}</td>
      </tr>
      <tr>
        <th scope="row">放款金额（元）</th>
        <td></td>
        <td></td>
        <td>{{row7 || row6 | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
