<div ng-show="process.complete">
 <form name="completeForm" ng-submit="completeForm.$valid && completeLoan()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">结清</h4>
  </div>
  <div class="modal-body">
   <h4 class="text-info">项目编号: {{loan.id}}</h4>
   <div class="ks-divider"></div>
   <div class="row" style="font-size:14px;">
    <div class="col-md-3">
      <div>贷款金额: {{loan.amount | number:2}} 元</div>
      <div>贷款类型: {{loan.loanType.text}}</div>
    </div>
    <div class="col-md-3">
      <div>贷款人: {{loan.loaner.name}}</div>
      <div>担保人: {{loan.assurer.name}}</div>
    </div>
    <div class="col-md-3">
      <div>开始时间: {{loan.startDate | date:"yyyy-MM-dd"}}</div>
      <div>结束时间: {{loan.endDate | date:"yyyy-MM-dd"}}</div>
    </div>
    <div class="col-md-3">
      <div>还款类型: {{loan.payWay.text}}</div>
      <div>还款总期数: {{loan.payTotalCircle}}</div>
    </div>
  </div>
  <div class="ks-divider"></div>
  <div class="ks-panel" ng-show="!billGenerated">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>期数</th>
          <th>应收金额（元）</th>
          <th>应收日期</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="payback in paybacks">
          <td>{{payback.order}}</td>
          <td>{{payback.payMoney | number:2}}</td>
          <td>{{payback.payDate | date:"yyyy-MM-dd"}}</td>
          <td ng-show="payback.status === 1" class="text-info">正在还</td>
          <td ng-show="payback.status === 2" >未还</td>
          <td ng-show="payback.status === 3"class="text-success">已还</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="form-group">
            <label>*结清日期</label>
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="completeDate" is-open="calendar.opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭" name="completeDate"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCld($event)" ><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
            <div ng-show="completeForm.$submitted || completeForm.completeDate.$touched">
              <div class="text-danger" ng-show="completeForm.completeDate.$error.required">请填写还款日期</div>
              <div class="text-danger" ng-show="completeForm.completeDate.$error.date">请填写正确的日期格式</div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

          <div class="ks-divider"></div>
      <div class="panel panel-success" ng-show="billGenerated">
       <div class="panel-heading">结清账单</div>
         <div class="panel-body">
            <div class="row">
            <div class="col-md-12">
            <h4>收入：</h4>
            <div class="ks-panel">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>应收金额（元）</th>
                    <th>应收逾期费用（元）</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>{{completedBill.income.amount | number:2}}</td>
                    <td>{{completedBill.income.overdueMoney | number:2}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-warning">
                    <label class="control-label">*实收金额</label>
                    <div class="input-group has-warning">
                      <input type="text" class="form-control" placeholder="实收金额" name="amount" float-number-input ng-model="payData.income.amount"  required >
                      <span class="input-group-addon">元</span>
                    </div>
                    <div ng-show="completeForm.$submitted || completeForm.amount.$touched">
                      <div class="text-danger" ng-show="completeForm.amount.$error.required">请填写实收金额</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group has-warning">
                    <label class="control-label">*实收逾期费用</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="实收金额" name="overdueMoney" float-number-input ng-model="payData.income.overdueMoney"  required >
                      <span class="input-group-addon">元</span>
                    </div>
                    <div ng-show="completeForm.$submitted || completeForm.overdueMoney.$touched">
                      <div class="text-danger" ng-show="completeForm.overdueMoney.$error.required">请填写实收逾期费用</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="ks-divider"></div>
            <div class="row">
            <div class="col-md-12">
            <h4>支出：</h4>
            <div class="ks-panel">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>应付保证金（元）</th>
                    <th>应付暂收费用（元）</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{completedBill.outcome.assureCost | number:2}}</td>
                      <td>{{completedBill.outcome.keepCost | number:2}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-warning">
                    <label class="control-label">*实付保证金</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="实付保证金" name="assureCost" float-number-input ng-model="payData.outcome.assureCost"  required >
                      <span class="input-group-addon">元</span>
                    </div>
                    <div ng-show="completeForm.$submitted || completeForm.assureCost.$touched">
                      <div class="text-danger" ng-show="completeForm.assureCost.$error.required">请填写实付保证金</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group has-warning">
                    <label class="control-label">*实付暂收费用</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="实付暂收费用" name="keepCost" float-number-input ng-model="payData.outcome.keepCost"  required >
                      <span class="input-group-addon">元</span>
                    </div>
                    <div ng-show="completeForm.$submitted || completeForm.keepCost.$touched">
                      <div class="text-danger" ng-show="completeForm.keepCost.$error.required">请填写实付暂收费用</div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            </div>
          </div>
        </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" ng-disabled="!billGenerated">完成结清</button>
  </div>
</form>
</div>