<div class="ui header segment">
	<div class="container">
		<div class="ui grid">
			<div class="right floated four wide column">
				<div class="ui divided horizontal navlist list">
					<a class="item" href="/">首页</a>
					<a class="item">帮助中心</a>
					<a class="item">意见反馈</a>
				</div>
			</div>
			<div class="left floated six wide column">
				<div class="ui divided horizontal  list">
					<a class="item" href="/">
						<img class="ui  image" src="../images/logo.png"></a>
					<div class="item">
						<h3>会员登录</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
