<form name="paySelectForm" ng-submit="paySelectForm.$valid && startCollect()">
  <div ng-show="process.list">

    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">收款</h4>
    </div>
    <div class="modal-body">
      <h4><a class="text-info" href="/loan?id={{loan.id}}" target="_blank">合同编号: {{loan.serialNumber}}</a></h4>
      <div class="ks-divider"></div>
      <div class="row" style="font-size:14px;">
        <div class="col-md-3">
          <div>贷款金额: {{loan.amount}}</div>
          <div>贷款类型: {{loan.loanType.text}}</div>
        </div>
        <div class="col-md-3">
          <div>贷款人: {{loan.loaner.name}}</div>
          <div>担保人: {{loan.assurer.name}}</div>
        </div>
        <div class="col-md-3">
          <div>开始时间: {{loan.startDate | date:"yyyy-MM-dd"}}</div>
          <div>结束时间: {{loan.endDate | date:"yyyy-MM-dd"}}</div>
        </div>
        <div class="col-md-3">
          <div>还款类型: {{loan.payWay.text}}</div>
          <div>还款总期数: {{loan.payTotalCircle}}</div>
        </div>
      </div>
      <div class="ks-panel">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>选择</th>
              <th>期数</th>
              <th>应收金额</th>
              <th>应收日期</th>
              <th>状态</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="payback in paybacks">
              <td><input type="radio" name="payback" value="{{payback.objectId}}" 
                ng-model="$parent.paybackId" ng-disabled="payback.status !== 1" required></td>
                <td>{{payback.order}}</td>
                <td>{{payback.payMoney | number:2}}</td>
                <td>{{payback.payDate}}</td>
                <td ng-show="payback.status === 1" class="text-info">正在还</td>
                <td ng-show="payback.status === 2" >未还</td>
                <td ng-show="payback.status === 3"class="text-success">已还</td>
              </tr>
            </tbody>
          </table>
          <div ng-show="paySelectForm.$submitted || paySelectForm.payback.$touched">
           <div class="text-danger" ng-show="paySelectForm.payback.$error.required">请选择一项</div>
         </div>
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-warning ks-left" ng-click="startComplete()">开始结清</button>
      <button type="button" class="btn btn-default" ng-click="cancel()">取消收款</button>
      <button type="submit" class="btn btn-success" >开始收款</button>
    </div>
  </div>
</form>


<div ng-show="process.pay">
 <form name="payForm" ng-submit="payForm.$valid && pay()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">收款</h4>
  </div>
  <div class="modal-body">
   <h4><a class="text-info" href="/loan?id={{loan.id}}" target="_blank">合同编号: {{loan.serialNumber}}</a></h4>
   <div class="ks-divider"></div>
   <div class="row" style="font-size:14px;">
    <div class="col-md-3">
      <div>贷款金额: {{loan.amount}}</div>
      <div>贷款类型: {{loan.loanType.text}}</div>
    </div>
    <div class="col-md-3">
      <div>贷款人: {{loan.loaner.name}}</div>
      <div>担保人: {{loan.assurer.name}}</div>
    </div>
    <div class="col-md-3">
      <div>开始时间: {{loan.startDate | date:"yyyy-MM-dd"}}</div>
      <div>结束时间: {{loan.endDate | date:"yyyy-MM-dd"}}</div>
    </div>
    <div class="col-md-3">
      <div>还款类型: {{loan.payWay.text}}</div>
      <div>还款总期数: {{loan.payTotalCircle}}</div>
    </div>
  </div>
  <div class="ks-panel">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>期数</th>
          <th>应收金额</th>
          <th>应收日期</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{selectedPayback.order}}</td>
          <td>{{selectedPayback.payMoney | number:2}}</td>
          <td>{{selectedPayback.payDate}}</td>
          <td ng-show="selectedPayback.status === 1" class="text-info">正在还</td>
          <td ng-show="selectedPayback.status === 2" >未还</td>
          <td ng-show="selectedPayback.status === 3"class="text-success">已还</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="form-group">
            <label>*还款日期</label>
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="payDate" is-open="calendar.opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭" name="payDate"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCld($event)" ><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
            <div ng-show="payForm.$submitted || payForm.payDate.$touched">
              <div class="text-danger" ng-show="payForm.payDate.$error.required">请填写还款日期</div>
              <div class="text-danger" ng-show="payForm.payDate.$error.date">请填写正确的日期格式</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="form-group">
            <label>*收款金额</label>
            <div class="input-group has-danger">
              <!-- <number-input input-value="loanInfo.amount" input-name="amout"  placeholder="贷款金额" name="amout" numberInput ng-model="loanInfo.amount" ng-pattern="/\d+/" required/> -->
              <input type="text" class="form-control" placeholder="收款金额" name="payMoney" float-number-input ng-model="payMoney"  required >
              <span class="input-group-addon">元</span>
            </div>
            <div ng-show="payForm.$submitted || payForm.payMoney.$touched">
              <div class="text-danger" ng-show="payForm.payMoney.$error.required">请填写收款金额</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" ng-click="back()">返回选择</button>
  <button type="submit" class="btn btn-success">完成收款</button>
</div>
</form>
</div>

<div ng-show="process.complete">
 <form name="completeForm" ng-submit="completeForm.$valid && completeLoan()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">结清</h4>
  </div>
  <div class="modal-body">
   <h4><a class="text-info" href="/loan?id={{loan.id}}" target="_blank">合同编号: {{loan.serialNumber}}</a></h4>
   <div class="ks-divider"></div>
   <div class="row" style="font-size:14px;">
    <div class="col-md-3">
      <div>贷款金额: {{loan.amount | number:2}} 元</div>
      <div>贷款类型: {{loan.loanType.text}}</div>
    </div>
    <div class="col-md-3">
      <div>贷款人: {{loan.loaner.name}}</div>
      <div>担保人: {{loan.assurer.name}}</div>
    </div>
    <div class="col-md-3">
      <div>开始时间: {{loan.startDate | date:"yyyy-MM-dd"}}</div>
      <div>结束时间: {{loan.endDate | date:"yyyy-MM-dd"}}</div>
    </div>
    <div class="col-md-3">
      <div>还款类型: {{loan.payWay.text}}</div>
      <div>还款总期数: {{loan.payTotalCircle}}</div>
    </div>
  </div>
  <div class="ks-divider"></div>
  <div class="ks-panel" ng-show="!billGenerated">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>期数</th>
          <th>应收金额（元）</th>
          <th>应收日期</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="payback in paybacks">
          <td>{{payback.order}}</td>
          <td>{{payback.payMoney | number:2}}</td>
          <td>{{payback.payDate | date:"yyyy-MM-dd"}}</td>
          <td ng-show="payback.status === 1" class="text-info">正在还</td>
          <td ng-show="payback.status === 2" >未还</td>
          <td ng-show="payback.status === 3"class="text-success">已还</td>
        </tr>
      </tbody>
    </table>
     <div class="ks-divider"></div>
  </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group has-warning">
            <label class="control-label">结清日期</label>
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="completeDate" is-open="calendar.opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭" name="completeDate"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-warning" ng-click="openCld($event)" ><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
            <div ng-show="completeForm.$submitted || completeForm.completeDate.$touched">
              <div class="text-danger" ng-show="completeForm.completeDate.$error.required">请填写还款日期</div>
              <div class="text-danger" ng-show="completeForm.completeDate.$error.date">请填写正确的日期格式</div>
            </div>
          </div>
        </div>
      </div>

     <div class="ks-divider"></div>
      <div class="panel panel-success" ng-show="billGenerated">
       <div class="panel-heading">结清账单</div>
         <div class="panel-body">
            <div class="row">
            <div class="col-md-12">
            <h4>收入：</h4>
            <div class="ks-panel">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>应收金额（元）</th>
                    <th>应收逾期费用（元）</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>{{completedBill.income.amount | number:2}}</td>
                    <td>{{completedBill.income.overdueMoney | number:2}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group has-warning">
                    <label class="control-label">*实收金额</label>
                    <div class="input-group has-warning">
                      <input type="text" class="form-control" placeholder="实收金额" name="amount" float-number-input ng-model="payData.income.amount"  required >
                      <span class="input-group-addon">元</span>
                    </div>
                    <div ng-show="completeForm.$submitted || completeForm.amount.$touched">
                      <div class="text-danger" ng-show="completeForm.amount.$error.required">请填写实收金额</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group has-warning">
                    <label class="control-label">*实收逾期费用</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="实收金额" name="overdueMoney" float-number-input ng-model="payData.income.overdueMoney"  required >
                      <span class="input-group-addon">元</span>
                    </div>
                    <div ng-show="completeForm.$submitted || completeForm.overdueMoney.$touched">
                      <div class="text-danger" ng-show="completeForm.overdueMoney.$error.required">请填写实收逾期费用</div>
                    </div>
                  </div>
                </div>
                 <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">*实收总计</label>
                    <div class="input-group">
                      <input type="text" class="form-control"  ng-value="total.income" disabled="true">
                      <span class="input-group-addon">元</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="ks-divider"></div>
            <div class="row">
            <div class="col-md-12">
            <h4>支出：</h4>
            <div class="ks-panel">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>应付保证金（元）</th>
                    <th>应付暂收费用（元）</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{completedBill.outcome.assureCost | number:2}}</td>
                      <td>{{completedBill.outcome.keepCost | number:2}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                <div class="col-md-4">
                  <div class="form-group has-warning">
                    <label class="control-label">*实付保证金</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="实付保证金" name="assureCost" float-number-input ng-model="payData.outcome.assureCost"  required >
                      <span class="input-group-addon">元</span>
                    </div>
                    <div ng-show="completeForm.$submitted || completeForm.assureCost.$touched">
                      <div class="text-danger" ng-show="completeForm.assureCost.$error.required">请填写实付保证金</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group has-warning">
                    <label class="control-label">*实付暂收费用</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="实付暂收费用" name="keepCost" float-number-input ng-model="payData.outcome.keepCost"  required >
                      <span class="input-group-addon">元</span>
                    </div>
                    <div ng-show="completeForm.$submitted || completeForm.keepCost.$touched">
                      <div class="text-danger" ng-show="completeForm.keepCost.$error.required">请填写实付暂收费用</div>
                    </div>
                  </div>
                </div>
                 <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">*实付总计</label>
                    <div class="input-group">
                      <input type="text" class="form-control"  ng-value="total.outcome" disabled="true">
                      <span class="input-group-addon">元</span>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            </div>
          </div>
        </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" ng-disabled="!billGenerated">完成结清</button>
  </div>
</form>
</div>
