<div class="ks-dividing">
	<h4>收款管理 -> {{ ('collectPending' | isState)? '待收款项目':'已收款项目'}}</h4>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="btn-group btn-group-middle" >
			<button type="button" class="btn btn-default" ui-sref="collectPending" ui-sref-active="active">待收款项目</button>
			<button type="button" class="btn btn-default" ui-sref="collectDone"  ui-sref-active="active">已收款项目</button>

		</div>
	</div>
	<div class="col-md-6">
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">合同号 <span class="caret"></span></button>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<li><a href="#">合同号</a></li>
					<li><a href="#">借款人</a></li>
					<li><a href="#">担保人</a></li>
				</ul>
			</div>
			<input type="text" class="form-control" aria-label="Text input with dropdown button">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button">搜索</button>
			</span>
		</div>
	</div>
</div>
<div class="ks-panel">
	<div class="panel panel-default">
		<div class="panel-heading">筛选条件</div>
		
		<div class="panel-body"> 
			<div class="ks-condition">
				<ul class="ks-list-unstyled">
					<li>收款时间:</li>
					<li ng-repeat="timeRange in timeRanges" ><a ui-sref="{{currentState.name}}({startDate:timeRange.startDate,endDate:timeRange.endDate})" ui-sref-active="label label-warning">{{timeRange.text}}</a></li>
				</ul>
			</div>
			<div class="ks-condition">
				<ul class="ks-list-unstyled">
					<li>贷款类型:</li>
					<li><a  ui-sref="{{currentState.name}}({loanType:''})" ui-sref-active="label label-warning">所有<!-- <span class="glyphicon glyphicon-remove"></span> --></a></li>
					<li ng-repeat="loanType in loanTypes"><a ui-sref="{{currentState.name}}({loanType:loanType.value})" ui-sref-active="label label-warning">{{loanType.text}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="ks-panel">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>合同编号</th>
				<th>贷款金额</th>
				<th>当前/总期</th>
				<th>应收日期</th>
				<th>应收金额</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="loan in loans">
				<td>{{loan.loanObjectId}}</td>
				<td>{{loan.amount | number:2}}</td>
				<td>{{loan.payCurrCircle}}/{{loan.payTotalCircle}}</td>
				<td>{{loan.payDate | date: "yyyy-MM-dd"}}</td>
				<td>{{loan.payMoney}}</td>
				<td>
					<div class="dropdown" dropdown>
						<a class="glyphicon glyphicon-triangle-bottom" dropdown-toggle></a>
						<ul class="dropdown-menu"  role="menu">
							<li><a role="menuitem" ng-click="collect(loan.loanObjectId)">收款</a></li>
							<li><a role="menuitem" >结清</a></li>
							<li ><a role="menuitem">调整</a></li>
						</ul>
					</div>
				</td>
			</tr>

			</tr>
		</tbody>
	</table>
</div>
<div class="ks-panel">
	<pagination total-items="totalLoans" ng-model="currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页"></pagination>
</div>