 <div class="ks-dividing">
	<h4>收款管理 -> {{ ('manage.collectPending' | isState)? '待收款项目':'已收款项目'}}</h4>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="btn-group btn-group-middle" >
			<button type="button" class="btn btn-default" ui-sref="manage.collectPending" ui-sref-active="active">待收款项目</button>
			<button type="button" class="btn btn-default" ui-sref="manage.collectDone"  ui-sref-active="active">已收款项目</button>

		</div>
	</div>
</div>
<div class="ks-panel">
	<div class="panel panel-default">
		<div class="panel-heading">筛选条件</div>

		<div class="panel-body">
			<div class="ks-condition">
				<div class="row">
					<div class="col-md-9">
						<ul class="ks-list-unstyled">
							<li>收款时间:</li>
							<li ng-repeat="timeRange in timeRanges" ><a ui-sref="{{currentState.name}}({startDate:timeRange.startDate,endDate:timeRange.endDate})" ui-sref-active="label label-warning">{{timeRange.text}}</a></li>
						</ul>
					</div>
					<div class="col-md-pull-1 col-md-3">
						<div class="input-group" style="padding-left:10px;">
							<input type="text" class="form-control" datepicker-popup="{{format}}" is-open="calendar.openedstart" close-text="关闭" name="startDate" ng-click="open($event,'openedstart')" ng-model="condition.startDate"/>
							<span class="input-group-addon">-</span>
							<input type="text" class="form-control" datepicker-popup="{{format}}" is-open="calendar.openedend" close-text="关闭" name="endDate" ng-click="open($event,'openedend')" ng-model="condition.endDate"/>
							<span class="input-group-btn">
								<button class="btn btn-primary btn-xs" type="button" ng-click="customTime()">确定</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="ks-condition">
				<ul class="ks-list-unstyled">
					<li>贷款类型:</li>
					<li><a  ui-sref="{{currentState.name}}({loanType:''})" ui-sref-active="label label-warning">所有<!-- <span class="glyphicon glyphicon-remove"></span> --></a></li>
					<li ng-repeat="loanType in loanTypes"><a ui-sref="{{currentState.name}}({loanType:loanType.value})" ui-sref-active="label label-warning">{{loanType.text}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="ks-panel">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>项目编号</th>
				<th>贷款金额</th>
				<th>当前/总期</th>
				<th>应收日期</th>
				<th>应收金额</th>
        <th ng-show="('manage.collectDone' | isState)">实收日期</th>
				<th ng-show="('manage.collectDone' | isState)">实收金额</th>
				<th ng-show="('manage.collectPending' | isState)">距收款日期</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="loan in loans | orderBy:'serialNumber'">
				<td> <a class="text-primary" href="/loan?id={{loan.loanObjectId}}" target="_blank">{{loan.loaner.name}}{{loan.serialNumber}}</a></td>
				<td>{{loan.amount | number:2}}</td>
				<td>{{loan.payCurrCircle}}/{{loan.payTotalCircle}}</td>
				<td>{{loan.payDate | date: "yyyy-MM-dd"}}</td>
				<td>{{loan.payMoney | number:2}}</td>
        <td ng-show="('manage.collectDone' | isState)">{{loan.payBackDate | date: "yyyy-MM-dd"}}</td>
				<td ng-show="('manage.collectDone' | isState)">{{loan.payBackMoney | number:2}}</td>
				<td ng-show="('manage.collectPending' | isState)">{{loan.nowToPayDate}}</td>
				<td>
					<div class="dropdown" dropdown>
						<a class="glyphicon glyphicon-triangle-bottom" dropdown-toggle></a>
						<ul class="dropdown-menu"  role="menu">
							<li><a role="menuitem" ng-click="collect(loan.loanObjectId)" ng-show="loan.payCurrCircle != loan.payTotalCircle"> 收款</a></li>
							<li><a role="menuitem"  ng-click="complete(loan.loanObjectId)">结清</a></li>
							<li ><a role="menuitem" href="/loan/{{loan.loanObjectId}}/modify" target="_blank">调整</a></li>
							<li ><a role="menuitem" href="/createProject?ref={{loan.loanObjectId}}" target="_blank">新签</a></li>
						</ul>
					</div>
				</td>
			</tr>

			</tr>
		</tbody>
	</table>
</div>
<div class="ks-panel">
	<pagination total-items="totalLoans" ng-model="currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页"></pagination>
</div>
