<!-- 		<div class="ui top segment">
			<div class="container">
				<div class="ui grid">
					<div class="left floated four wide column">
						<div class="ui horizontal small text menu">
							<a class="item">
								Ethansure
							</a>
							<a class="item">
								<i class="mail icon"></i> 消息
							
							</a>
						</div>
					</div>
					<div class="right floated three wide column">
						<div class="ui horizontal small text menu">
							<a class="item">
								我的账户
							</a>
							<a class="item">
								帮助中心
							</a>
							<a class="item">
								手机版
							</a>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="ui header segment">
			<div class="container">
				<div class="ui grid">
					<div class="left floated eight wide column">
						<div class="ui divided horizontal  list">
							<a class="item">
								<img class="ui  image" src="../images/logo.png">
							</a>
							<div class="item">
								<img class="ui  image" src="../images/logo_info.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<header class="navbar navbar-static-top ks-m-nav">
		<div class="container">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
			        <li class="active">
			          <a href="#">Ethansure</a>
			        </li>
			        <li>
			          <a href="#">消息通知  <span class="glyphicon glyphicon-envelope"></span></a>
			        </li>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			      	<li>
			          <a href="#">我的账户</a>
			        </li>
			        <li>
			          <a href="#">帮助中心</a>
			        </li>
			        <li>
			          <a href="#">手机版</a>
			        </li>
			      </ul>
		      </div>
		</div>
	</header>
	<div class="ks-m-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<div class="ks-logo"></div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="ks-logo-info"></div>
				</div>
			</div>
		</div>
	</div>