<form name="contactsForm" novalidate ng-submit="contactsForm.$valid && createContract()">
	<div class="container-fluid">
	<div class="ks-dividing">
		<h4>借款人</h4>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="ks-panel panel panel-default">
				<div class="panel-heading">借款人信息</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group has-warning">
								<label class="control-label">姓名</label>
								<input type="text" class="form-control" placeholder="姓名" ng-model="br.name" name="bname" required>
								<div ng-show="contactsForm.$submitted || contactsForm.bname.$touched">
									<div class="text-danger" ng-show="contactsForm.bname.$error.required">请填借款人姓名</div>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group has-warning">
								<label class="control-label">身份证</label>
								<input type="text" class="form-control" placeholder="身份证" ng-model="br.certificateNum" name="bid" required>
								<div ng-show="contactsForm.$submitted || contactsForm.bid.$touched">
									<div class="text-danger" ng-show="contactsForm.bid.$error.required">请填借款人身份证</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ks-divider"></div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>手机号</label>
								<input type="text" class="form-control" placeholder="手机号" ng-model="br.mobilePhoneNum" name="bmobilePhoneNum" ng-pattern="/\b\d{11}\b/">
								<div ng-show="contactsForm.$submitted || contactsForm.bmobilePhoneNum.$touched">
									<div class="text-danger" ng-show="contactsForm.bmobilePhoneNum.$error.pattern">请填写正确的手机号</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>邮箱</label>
								<input type="email" class="form-control" placeholder="邮箱" ng-model="br.email" name="bemail">
								<div ng-show="contactsForm.$submitted || contactsForm.bemail.$touched">
									<div class="text-danger" ng-show="contactsForm.bemail.$error.email">请填写正确邮箱</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>QQ</label>
								<input type="text" class="form-control" placeholder="QQ" ng-model="br.qq" name="bqq" ng=pattern="/\d+/">
								<div ng-show="contactsForm.$submitted || contactsForm.bqq.$touched">
									<div class="text-danger" ng-show="contactsForm.bqq.$error.pattern">请填写正确QQ号</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>微信</label>
								<input type="text" class="form-control" placeholder="微信" ng-model="br.wechat">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="ks-panel panel panel-default">
				<div class="panel-heading">贷款信息</div>
				<div class="panel-body">
					<ul class="list-group">
						<a class="list-group-item">
							<span class="glyphicon glyphicon-remove text-danger ks-right"></span>
							身份证
						</a>
					</ul>
					<button  class="btn btn-default ks-right">上传新的资料</button>
				</div>
			</div>
		</div>
	</div>

	<div class="ks-dividing">
		<h4>担保人</h4>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="ks-panel panel panel-default">
				<div class="panel-heading">担保人信息</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group has-warning">
								<label class="control-label">姓名</label>
								<input type="text" class="form-control" placeholder="姓名" name="gname" ng-model="gr.name" required>
								<div ng-show="contactsForm.$submitted || contactsForm.gname.$touched">
									<div class="text-danger" ng-show="contactsForm.gname.$error.required">请填担保人姓名</div>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group has-warning">
								<label class="control-label">身份证</label>
								<input type="text" class="form-control" placeholder="身份证" name="gid" ng-model="gr.certificateNum" required>
								<div ng-show="contactsForm.$submitted || contactsForm.gid.$touched">
									<div class="text-danger" ng-show="contactsForm.gid.$error.required">请填担保人姓名</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ks-divider"></div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>手机号</label>
								<input type="text" class="form-control" placeholder="手机号" name="gmobilePhoneNum"ng-model="gr.mobilePhoneNum" ng-pattern="/\b\d{11}\b/">
								<div ng-show="contactsForm.$submitted || contactsForm.gmobilePhoneNum.$touched">
									<div class="text-danger" ng-show="contactsForm.gmobilePhoneNum.$error.pattern">请填写正确的手机号</div>
								</div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>邮箱</label>
								<input type="email" class="form-control" placeholder="邮箱" name="gemail" ng-model="gr.email">
								<div ng-show="contactsForm.$submitted || contactsForm.gemail.$touched">
									<div class="text-danger" ng-show="contactsForm.gemail.$error.email">请填写正确邮箱</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>QQ</label>
								<input type="text" class="form-control" placeholder="QQ" name="gqq" ng-model="gr.qq">
								<div ng-show="contactsForm.$submitted || contactsForm.gqq.$touched">
									<div class="text-danger" ng-show="contactsForm.gqq.$error.pattern">请填写正确QQ号</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>微信</label>
								<input type="text" class="form-control" placeholder="微信" ng-model="gr.wechat">

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="ks-panel panel panel-default">
				<div class="panel-heading">贷款信息</div>
				<div class="panel-body">
					<ul class="list-group">
						<a class="list-group-item">
							<span class="glyphicon glyphicon-remove text-danger ks-right"></span>
							身份证
						</a>
					</ul>
					<button  class="btn btn-default ks-right">上传新的资料</button>
				</div>
			</div>
		</div>
	</div>
	<div class="ks-divider"></div>
	<div class="container-fluid" >
		<div class="col-md-6 ">
			<button type="button" class="btn btn-primary"  ng-click="nav('prev')">上一步</button>
		</div>
		<div class="col-md-6" >
			<button type="submit" class="btn btn-primary ks-right">生成合同 </button>
		</div>
	</div>
	</div>
</form>
