<form name="loanForm" novalidate ng-submit="createLoan()">
		<div class="ks-panel panel panel-default">

				<div class="panel-heading">贷款信息</div>
		        <div class="panel-body">
		        	<div class="row">
		        	<div class="col-md-3">
			        		<div class="form-group">
			        			<label>贷款类型</label>
			        			  <select class="form-control" ng-model="loanType.selected" ng-options="loanType.value as loanType.text for loanType in loanTypes" required></select>
							</div>
						</div>
					</div>
		        	<div class="row">
		        		<div class="col-md-3">
			        		<div class="form-group">
			        			<label>贷款金额</label>
			        			<div class="input-group">
			        			 <!-- <number-input input-value="loanInfo.amount" input-name="amout"  placeholder="贷款金额" name="amout" numberInput ng-model="loanInfo.amount" ng-pattern="/\d+/" required/> -->
							  		<input type="text" class="form-control" placeholder="贷款金额" name="amout" float-number-input ng-model="loanInfo.amount" ng-pattern="/\d+/" required>
							  		<span class="input-group-addon">元</span>
							  	</div>
							  	<div ng-show="contactsForm.$submitted || contactsForm.amout.$touched">
									<div class="text-danger" ng-show="contactsForm.amout.$error.required">请填写贷款金额</div>
									<div class="text-danger" ng-show="contactsForm.amout.$error.required">请填写贷款金额</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
			        		<div class="form-group">
			        			<label>贷款期限</label>
			        			<div class="input-group">

							  		<input type="text" class="form-control" placeholder="贷款期限" number-input ng-model="loanInfo.spanMonth" required>
							  		<span class="input-group-addon">月</span>
							  	</div>
							</div>
						</div>
						<div class="col-md-3">
			        		<div class="form-group">
			        			<label>开始日期</label>
			        			<div class="input-group">
					             <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="loanInfo.startDate" is-open="calendar.openedstart"  datepicker-options="dateOptions"ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-default" ng-click="open($event,'openedstart')"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </div>
							</div>
						</div>
						<div class="col-md-3">
			        		<div class="form-group">
			        			<label>截止日期</label>
			        			<div class="input-group">
					             <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="loanInfo.endDate" is-open="calendar.openedend"  datepicker-options="dateOptions"ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-default" ng-click="open($event,'openedend')"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </div>
							</div>
						</div>
		        	</div>

		        	<div class="row">
		        		<div class="col-md-2">
			        		<div class="form-group">
			        			<label>还款周期</label>
			        			<div class="input-group">
							  		<input type="text" class="form-control" placeholder="还款周期" ng-model="loanInfo.payCircle">
							  		<span class="input-group-addon">月</span>
							  	</div>
							</div>
						</div>
						<div class="col-md-2">
			        		<div class="form-group">
			        			<label>还款总期数</label>
			        			<div class="input-group">
							  		<input type="text" class="form-control" placeholder="还款总期数" ng-model="loanInfo.payTotalCircle">
							  		<span class="input-group-addon">月</span>
							  	</div>
							</div>
						</div>
						<div class="col-md-2">
			        		<div class="form-group">
			        			<label>利率</label>
			        			<div class="input-group">
							  		<input type="text" class="form-control" placeholder="利率" ng-model="loanInfo.nterests">
							  		<span class="input-group-addon">‰/月</span>
							  	</div>
							</div>
						</div>
						
		        	</div>
		        	<div class="row">
		        		<div class="col-md-3">
			        		<div class="form-group">
			        			<label>履约保证金</label>
			        			<div class="input-group">
							  		<input type="text" class="form-control" placeholder="履约保证金" ng-model="loanInfo.assureCost">
							  		<span class="input-group-addon">元</span>
							  	</div>
							</div>
						</div>
						<div class="col-md-3">
			        		<div class="form-group">
			        			<label>服务费</label>
			        			<div class="input-group">
							  		<input type="text" class="form-control" placeholder="服务费" ng-model="loanInfo.serviceCost">
							  		<span class="input-group-addon">元</span>
							  	</div>
							</div>
						</div>
						<div class="col-md-2">
			        		<div class="form-group">
			        			<label>逾期违约金</label>
			        			<div class="input-group">
							  		<input type="text" class="form-control" placeholder="逾期违约金" ng-model="loanInfo.overdueCostPercent">
							  		<span class="input-group-addon">% /月</span>
							  	</div>
							</div>
						</div>
						<div class="col-md-2">
			        		<div class="form-group">
			        			<label>其他费用</label>
			        			<div class="input-group">
							  		<input type="text" class="form-control" placeholder="其他费用" ng-model="loanInfo.otherCost">
							  		<span class="input-group-addon">元</span>
							  	</div>
							</div>
						</div>
						<div class="col-md-2">
			        		<div class="form-group">
			        			<label>暂收金额</label>
			        			<div class="input-group">
							  		<input type="text" class="form-control" placeholder="暂收金额" ng-model="loanInfo.keepCost">
							  		<span class="input-group-addon">元</span>
							  	</div>
							</div>
						</div>
		        	</div>
		        </div>
			</div>
			<div class="ks-panel panel panel-default">

				<div class="panel-heading">贷款信息</div>
		        <div class="panel-body">
		        	<div class="row">
		        	<div class="col-md-3">
			        		<div class="form-group">
			        			<label>还款类型</label>
			        	
			                      <select class="form-control" ng-model="repayType.selected" ng-options="repayType.value as repayType.text for repayType in repayTypes"></select>
			                  
							</div>
						</div>
					</div>
		        	<div class="row">
		        		<div class="col-md-3">
			        		<div class="form-group">
			        			<label>首次还款日期</label>
			        			<div class="input-group">
					             <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="loanInfo.firstPayDate" is-open="calendar.openedPay"  datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-default" ng-click="open($event,'openedPay')"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </div>
							</div>
						</div>
						<div class="col-md-3">
			        		<div class="form-group">
			        			<label>每期还款</label>
			        			<div class="input-group">
							  		<input type="text" class="form-control" placeholder="每期还款" disabled="">
							  		<span class="input-group-addon">元</span>
							  	</div>
							</div>
						</div>
					
		        	</div>
		        </div>
			</div>
			<div class="ks-divider"></div>
			<div class="container-fluid ks-pagination" >
				<div class="col-md-6 ">
					<button type="button" class="btn btn-primary"  ng-click="nav('prev')">上一步</button>
				</div>
				<div class="col-md-6" >
				<button type="submit" class="btn btn-primary ks-right">
						生成合同 
				</button>
			</div>
		</div>
</form>