<div class="ks-dividing">
	<h4 ng-show="('borrow.normalProjects' | isState)">融资检视->正常融资</h4>
	<h4 ng-show="('borrow.overdueProjects' | isState)">融资检视->逾期融资</h4>
	<!-- <h4 ng-show="('borrow.badbillProjects' | isState)">融资检视->坏账项目</h4> -->
	<h4 ng-show="('borrow.completedProjects' | isState)">融资检视->结清融资</h4>
	<h4 ng-show="('borrow.allProjects' | isState)">融资检视->所有融资</h4>
	<h4 ng-show="('borrow.searchProjects' | isState)">融资检视->搜索</h4>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="btn-group btn-group-middle" >
			<button type="button" class="btn btn-default" ui-sref="borrow.normalProjects" ui-sref-active="active">正常融资</button>
			<button type="button" class="btn btn-default" ui-sref="borrow.overdueProjects" ui-sref-active="active">逾期融资</button>
			<!-- <button type="button" class="btn btn-default" ui-sref="borrow.badbillProjects" ui-sref-active="active">坏账融资</button> -->
			<button type="button" class="btn btn-default" ui-sref="borrow.completedProjects" ui-sref-active="active">结清融资</button>
			<button type="button" class="btn btn-default" ui-sref="borrow.allProjects" ui-sref-active="active">所有融资</button>
		</div>
	</div>
	<div class="col-md-6">
		<div class="input-group">
			<div class="input-group-btn" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle >{{search.type.text}}<span class="caret"></span></button>
				<ul class="dropdown-menu dropdown-menu-right" role="menu" style="min-width:73px;">
					<li><a ng-click="changeSearchType('id')">项目号</a></li>
					<li><a ng-click="changeSearchType('name')">投资人</a></li>
				</ul>
			</div>
			<input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="search.keyword">
			<span class="input-group-btn">
				<button class="btn btn-second" type="button" ng-click="startSearch()">搜索</button>
			</span>
		</div>
	</div>
</div>
<div class="ks-panel" ng-show="!('borrow.searchProjects' | isState)">
	<div class="panel panel-default">
		<div class="panel-heading">筛选条件</div>
		<div class="panel-body">
			<div class="ks-condition" ng-show="('borrow.allProjects' | isState)">
				<div class="row">
					<div class="col-md-9">
						<ul class="ks-list-unstyled">
							<li>截止时间:</li>
							<li ng-repeat="timeRange in timeRanges" ><a ui-sref="{{currentState.name}}({startDate:timeRange.startDate,endDate:timeRange.endDate})" ui-sref-active="label label-success">{{timeRange.text}}</a></li>
						</ul>
					</div>
					<div class="col-md-pull-1 col-md-3">
						<div class="input-group" style="padding-left:10px;">
							<input type="text" class="form-control" datepicker-popup="{{format}}" is-open="calendar.openedstart" close-text="关闭" name="startDate" ng-click="open($event,'openedstart')" ng-model="condition.startDate"/>
							<span class="input-group-addon">-</span>
							<input type="text" class="form-control" datepicker-popup="{{format}}" is-open="calendar.openedend" close-text="关闭" name="endDate" ng-click="open($event,'openedend')" ng-model="condition.endDate"/>
							<span class="input-group-btn">
								<button class="btn btn-second btn-xs" type="button" ng-click="customTime()">确定</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="ks-condition" ng-show="('borrow.allProjects' | isState)">
				<div class="row">
					<div class="col-md-9">
						<ul class="ks-list-unstyled">
							<li>截止时间:</li>
							<li ng-repeat="timeRange in timeRanges" ><a ui-sref="{{currentState.name}}({endTimeRS:timeRange.startDate,endTimeRE:timeRange.endDate})" ui-sref-active="label label-warning">{{timeRange.text}}</a></li>
						</ul>
					</div>
					<div class="col-md-pull-1 col-md-3">
						<div class="input-group" style="padding-left:10px;">
							<input type="text" class="form-control" datepicker-popup="{{format}}" is-open="calendar.openedendTimeS" close-text="关闭" name="endTimeRS" ng-click="open($event,'openedendTimeS')" ng-model="condition.endTimeRS"/>
							<span class="input-group-addon">-</span>
							<input type="text" class="form-control" datepicker-popup="{{format}}" is-open="calendar.openedendTimeE" close-text="关闭" name="endTimeRE" ng-click="open($event,'openedendTimeE')" ng-model="condition.endTimeRE"/>
							<span class="input-group-btn">
								<button class="btn btn-second btn-xs" type="button" ng-click="customTime()">确定</button>
							</span>
						</div>
					</div>
				</div>
			</div> -->
			<div class="ks-condition">
				<ul class="ks-list-unstyled">
					<li>贷款类型:</li>
					<li><a  ui-sref="{{currentState.name}}({loanType:''})" ui-sref-active="label label-success">所有<!-- <span class="glyphicon glyphicon-remove"></span> --></a></li>
					<li ng-repeat="loanType in loanTypes"><a ui-sref="{{currentState.name}}({loanType:loanType.value})" ui-sref-active="label label-warning">{{loanType.text}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="ks-panel">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>项目编号</th>
				<th>贷款金额</th>
				<th ng-show="('borrow.normalProjects' | isState) || ('borrow.overdueProjects' | isState)">当期/总期</th>
				<th ng-show="('borrow.normalProjects' | isState) || ('borrow.overdueProjects' | isState) || ('borrow.badbillProjects' | isState)">应还日期</th>
				<!-- <th ng-show="('borrow.normalProjects' | isState) || ('borrow.overdueProjects' | isState) ||('borrow.badbillProjects' | isState) ">应收金额</th> -->
				<th ng-show="('borrow.completedProjects' | isState) || ('borrow.allProjects' | isState) ">期数</th>
				<th ng-show="('borrow.completedProjects' | isState) || ('borrow.allProjects' | isState) ">抵押方式</th>
				<th ng-show="('borrow.completedProjects' | isState) || ('borrow.allProjects' | isState) ">还款方式</th>
				<th ng-show="('borrow.completedProjects' | isState) ">结清日期</th>
				<th ng-show="('borrow.overdueProjects' | isState) ||('borrow.badbillProjects' | isState) ">距还款天数</th>
				<th ng-show="('borrow.allProjects' | isState)">已还金额</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="loan in loans | orderBy:'createdAt'">
				<td><a href="/bloan?id={{loan.id}}" target="_blank" class="text-second">{{loan.loaner.name}}{{loan.serialNumber}}</a></td>
				<td>{{loan.amount | number:2}}</td>
				<td ng-show="('borrow.normalProjects' | isState) || ('borrow.overdueProjects' | isState)">{{loan.currPayStep}}/{{loan.payTotalCircle}}</td>
				<td ng-show="('borrow.normalProjects' | isState) || ('borrow.overdueProjects' | isState) || ('borrow.badbillProjects' | isState)">{{loan.currPayDate | date:"yyyy-MM-dd"}}</td>
				<!-- <th ng-show="('borrow.normalProjects' | isState) || ('borrow.overdueProjects' | isState) ||('borrow.badbillProjects' | isState) ">{{loan.payMoney}}</th> -->
				<td ng-show="('borrow.completedProjects' | isState) || ('borrow.allProjects' | isState) ">{{loan.spanMonth}}</td>
				<td ng-show="('borrow.completedProjects' | isState) || ('borrow.allProjects' | isState) ">{{loan.loanType.text}}</td>
				<td ng-show="('borrow.completedProjects' | isState) || ('borrow.allProjects' | isState) ">{{loan.payWay.text}}</td>
				<td ng-show="('borrow.completedProjects' | isState) ">{{loan.finishDate | date:'yyyy-MM-dd'}}</td>
				<td ng-show="('borrow.overdueProjects' | isState) ||('borrow.badbillProjects' | isState) ">{{loan.nowToPayDate}}</td>
				<td ng-show="('borrow.allProjects' | isState)">{{loan.payedMoney  | number:2}}</td>
				<td>{{loan.payStatus.text}}</td>
				<td >
					<div class="dropdown" dropdown>
						<a class="glyphicon glyphicon-triangle-bottom" dropdown-toggle></a>
						<ul class="dropdown-menu">
							<li><a role="menuitem" ng-click="collectModal(loan.id,'list')" ng-show="loan.status.value === 1">还款</a></li>
							<li><a role="menuitem" ng-click="collectModal(loan.id,'complete')" ng-show="loan.status.value === 1">结清</a></li>
							<li><a role="menuitem" href="/bproject/{{loan.id}}/modify" target="_blank" ng-show="loan.status.value === 1" >调整</a></li>
							<li><a role="menuitem" href="/bproject/create?ref={{loan.id}}" target="_blank">新签</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="ks-panel">
	<pagination total-items="totalLoans" ng-model="currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页"></pagination>
</div>
